
<div class='logo'></div>
<div class="navlink-group">
	<a class="navlink title link explore-tab" ui-sref="home" id="current-tab">Explore</a>
	<a class="navlink title link starred-tab" ui-sref="starred">Starred</a>
	<a class="navlink title link create-tab" ui-sref="project({id: 'new'})" ng-click="setTab('create')">Create</a>
	<a class="navlink title link profile-tab white" ui-sref="profile({netid: user.netid})">Profile</a>
</div>

<div class="sidebar-footer">
	<h1 ng-if="user.first_name" class="welcome-header">Welcome, {{user.first_name}}!</h1>

	<p class="body-text thin white">Use the search bar to find job openings around campus. You can search by skill, description, pay type and more.</p>


<a class="link footer-link thin white" ng-click="clearCookies()" ng-if="isLoggedIn">LOGOUT</a>
<a class="link footer-link thin white" onclick="window.location.assign('/login')" ng-if="!isLoggedIn">LOGIN</a>
<span class="serif thin white slash footer-link">&nbsp; /&nbsp; </span>
<a class="link footer-link thin white" ng-click="setTab('')" ui-sref="about" class="about">ABOUT</a>
