<a class="title link spaced" id="current-tab" ng-click="setCurrent($event)" href="/">Explore</a>
<a class="title link spaced" href="/starred">Starred</a>
<a class="title link spaced" ng-click="setTab('create')" href="/projects/new">Create</a>
<a class="title link spaced" ui-sref="profile({netid: user.netid})">Profile</a>

<h1 ng-if="header-medium white" class="welcome-header">Welcome, {{user.first_name}}!</h1>

<p class="body-text white thin">Use the search bar to find job openings around campus. You can search by skill, description, pay type and more.</p>

<a class="link body-text white thin" ng-click="clearCookies()">LOGOUT</a>
<a class="link body-text white thin" href="" class="terms">TERMS</a>
<a class="link body-text white thin" href="" class="about">ABOUT</a>