<div class="sidebar-wrapper">
		<div class="sidebar-top">
			<a id="current-tab" class="navlink search-tab" ng-click="setCurrent($event)" href="/">Search</a>
			<a class="navlink profile-tab" ng-click="setCurrent($event)" ui-sref="profile({netid: user.netid})">Profile</a>
			<a class="navlink starred-tab" ng-click="setCurrent($event)" href="">Starred</a>
			<a class="navlink create-tab" ng-click="setCurrent($event)" href="">Create</a>
		</div>
		
		<div class="sidebar-bottom">
			<hr class="dots"></hr>
			<h1 class="welcome-header">Welcome Stan!</h1>
			<p class="welcome-text">Use the search bar to find job openings around campus. You can search by skill, description, pay type and more.</p>
			<a onclick="window.location.assign('<%= login_path %>')">LOGIN</a>
			<p class="slash">/</p>
			<a ng-click="clearCookies()">LOGOUT</a>
			<p class="slash">/</p>
			<a href="" class="terms">TERMS</a>
			<p class="slash">/</p>
			<a href="" class="about">ABOUT</a>
		</div>
		
	</div>
</div>