<div flash></div>
<div id="wrapper">
	<div class="content col-md-9">
		<div class="ui-view"></div>
	</div>
	<div ng-controller="SidebarCtrl" class="sidebar col-md-3">
		<%= render :partial => 'sidebar' %>
	</div>
</div>
