<<<<<<< HEAD
<div id="wrapper">
	<div class="content col-sm-9">
		<div class="ui-view"></div>
	</div>
	<div class="sidebar col-sm-3">
=======
<div flash></div>
<div id="wrapper">
	<div class="content col-md-9">
		<div class="ui-view"></div>
	</div>
	<div ng-controller="SidebarCtrl" class="sidebar col-md-3">
>>>>>>> 85ba5225e55015f2c71970d88acaa21b3395fa67
		<%= render :partial => 'sidebar' %>
	</div>
</div>
