<div id="wrapper">
	<div class="content col-sm-9">
		<div class="ui-view"></div>
	</div>
	<div ng-controller="SidebarCtrl" class="sidebar col-sm-3">
		<%= render :partial => 'sidebar' %>
	</div>
</div>
