<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Your project <%= @project.name %> has been created on the Yale Projects Board!
  </p>
  <p>
    Before your project shows up in search results, however, it must be approved by one of the site administrators to ensure quality. We're already on it—expect either an approval or feedback in the next 24 hours. 
  </p>
  <p>
    In the meantime, note that postings automatically expire after one month, so if they're not filled by then, you'll need to renew them. If your project is filled, however, we ask that you kindly mark it as "filled" on the <a href="<%= ENV['BASE_URL'] %>/projects/<%= @project.id %>">the project page</a>. 
  </p>
  <p>
    Thank you!
  </p>
  <p>
    The Yale Projects Board
  </p>
</body>
</html>
