<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
    Your project <%= @project.name %> has expired. This means that the posting will no longer be shown in search results, and people will not be able to contact you to join.
  </p>
  <p>
    If you're still looking to fill this opening, then you can go to <a href="<%= ENV['BASE_URL'] %>/projects/<%= @project.id %>">the project page</a> and renew it. Otherwise, no action is necessary.
  </p>
  <p>
    Thank you!
  </p>
  <p>
    The Yale Projects Board
  </p>
</body>
</html>
