<div class="modal-body contact-modal">
  <!-- <h1 class="modal-title1">Welcome</h1> -->
  <div class="modal-header">
    <h3 class="title-small blue centered-column">Express your interest in {{project.name}}</h3>
  </div>
  <div class="interest-modal-text">
    <p class="body-text larger-body">
      The Projects Board will send an email to {{project.leaders[0].first_name}} {{project.leaders[0].last_name}}, the leader of this project, to express your interest in "{{project.name}}". You'll be cc'd on the email, so feel free to follow up. The email will contain a link to your profile page so make sure it looks good!
    </p>
  </div>
</div>
<div class="modal-footer">
  <div class='options-button modal-button' ng-click="$close('email')">
    <p class="button-text">It's a go!</p>
  </div>
  <p class="body-text thin grey centered-column no-space" ng-click="$close()">Actually I changed my mind</p>
</div>
