<div class="modal-body greeter-modal">
  <!-- <h1 class="modal-title1">Welcome</h1> -->
  <div class="modal-header">
    <h3 class="modal-title1">Welcome to the</h3>
    <h1 class="modal-title2">Yale Projects Board</h1>
  </div>
  <div class="modal-text">
    <p class="modal-sentence">Find a talented programmer to work on your next project</p> 
    <p class="or">— OR —</p>
    <p class="modal-sentence">find a meaningful job on campus to put your talents to use!</p>
  </div>
</div>
<div class="modal-footer">
  <div class='options-button modal-button' onclick="window.location.assign('<%= login_path %>')">
    <p class="button-text">Login with CAS</p>
  </div>
  <p class="body-text thin grey centered-column no-space pointer" ng-click="$close()">No CAS? Take a demo &rarr;</p>
</div>
