<h1>The Yale Projects Board Helps People Work Together</h1>

<p>
  We've all been there: we just had the next million-dollar idea, and all we need is to work with someone who has to skills to bring that idea to life. Or conversely, you've just learned something amazing and want an opportunity to apply yourself with a practical projects. Either way, you want to get connected to the talented people on campus to make great things happen.
</p>
<p>
  The Yale Projects Board makes this easy:
</p>
<ol>
  <li>Create a project—what you're working on and why it's the next big thing</li>
  <li>Create an opening or two—those are the specific roles you're looking for, what the time commitment is, what skills are required, and how much (and if) you're compensating.</li>
  <li>Your openings will now start appearing in people's feeds, and they'll reach out to you via email!</li>
</ol>
<p>
  Please send compliments, questions, and concerns to rafi.khan[at]yale.edu or bobby.dresser[at]yale.edu. Thanks!
</p>

<h1>FAQ</h1>
<ol>
  <li>
    <p>Privacy</p>
    <p>Everything is CAS protected</p>
  </li>
  <li>
    <p>Why does my project need to be approved?</p>
    <p>To ensure quality</p>
  </li>
  <li>
    <p>How long does approval take? How will I know it's done?</p>
    <p>About 24 hours—check back to your project page to see if it's complete.</p>
  </li>
</ol>