<div class="about-wrapper">
  <h1 class="search-font about-header">Let's Work Together</h1>

  <p class="body-text larger-body thin">

    You just had a million-dollar idea, and all you need is the help of someone with the skills to bring that idea to life. Or you've just learned something amazing and want the opportunity to apply your new skills to a practical project. Yale is full of talented, creative people we want to help you work together to make great things happen!
  </p>
  <p class="body-text larger-body thin">
    The Yale Projects Board makes this easy:
  </p>
  <div class="row">
    <div class="col-sm-4 col-xs-12 lg-margin">
      <p class="title-smallest blue no-space">① Create a project </p> 
      <p class="body-text larger-body med-margin thin"> Tell Yale what you're working on and why it's the next big thing.</p>
    </div>
    <div  class="col-sm-4 col-xs-12 lg-margin">
      <p class="title-smallest blue no-space">② Make an opening</p>
      <p class="body-text larger-body med-margin thin">These are the specific roles you're looking to fill, what the time commitment is, what skills are required, and how much (and if) you're compensating.
      </p>
    </div>
    <div  class="col-sm-4 col-xs-12 lg-margin">
      <p class="title-smallest blue no-space">③ Check your email</p>
      <p class="body-text larger-body med-margin thin">Your openings will now start appearing in people's feeds, and they'll reach out to you via email to express their interest!</p>
    </div>
  </div>
    <p class="body-text larger-body thin">Everything you post is protected by CAS Login, which means it is visible to the Yale community but no one else. To ensure quality, every project is reviewed by an admin before it gets posted. The approval process doesn't take more than a day, and you'll be notified via email when your project is up.</p>

  <hr class="bottom-margin lg-margin">

<div class="col-xs-12">
  <h1 class="search-font">Who We Are</h1>
  <p class="body-text larger-body bottom-margin thin">This project was carefully designed and assembled by <a class="link link-r blue" href="http://www.rafi.me/">Rafi Khan</a> and <a class="link link-b blue" href="http://www.bobbydresser.com/">Bobby Dresser</a> in the coffee shops of New Haven during the fall of 2014. Please get in touch if you have any questions or comments!</p>
</div>

</div>
</div>