<h1>Welcome to the Yale Projects Marketplace!</h1>
<p>
  Project leaders, meet talent.
</p>
<p>
  Talent, meet cool projects.
</p>
<p>
  Current user {{user}}
</p>
<a onclick="window.location.assign('<%= login_path %>')">login</a>
<a onclick="window.location.assign('<%= logout_path %>')">logout</a>
<form ng-submit="saveUser()">
  <input type="text" ng-model="user.name">
  <input type="text" ng-model="user.city">
  <input type="submit">
</form>
<a href="/projects">Find a project</a><br>
<a href="/people">Find talent for your project</a>