<h1>Welcome to the Yale Projects Marketplace!</h1>
<p>
  Project leaders, meet talent.
</p>
<p>
  Talent, meet cool projects.
</p>
<p>
  Current user {{user}}
</p>
<a onclick="window.location.assign('<%= login_path %>')">login</a>
<a onclick="window.location.assign('<%= logout_path %>')">logout</a>
<form ng-submit="search()">
  <input type="text" ng-model="searchInput">
  <input type="submit" value="Search!">
</form>

<p>Found openings</p>
<p ng-repeat="opening in foundOpenings">
  {{opening.name}}
</p>

