<<<<<<< HEAD
<div class="container">

  <div class="search">
    <form class='main-search' ng-submit="search()">
      <div class="searchbox">
        <img src="../../assets/images/searchicon.jpg" alt="" class="searchicon"></img>
        <input type="text" class="searchfield" ng-model="searchInput">
      </div>
    </form>
    <div class="options-button">
      <p>Show Recent</p>
    </div>
    <div class="options-button" ng-click="showOptions()">
      <p>More Options</p>
      <img src="" alt="" class="down-arrow">
    </div>
  </div>

<h1>Welcome to the Yale Projects Marketplace!</h1>
<p>
  <a ui-sref="profile({netid: currentUser.netid})">View profile</a>
</p>
<p class="a-like" ng-click="createProject()">Create a project</p>
<div ng-if="newProject">
  <input type="text" ng-model="newProject.name">
  <textarea cols="30" rows="10" ng-model="newProject.description"></textarea>
  <button ng-click="saveNewProject()">Save</button>
  <button ng-click="cancelNewProject()">Cancel</button>
</div>
<h2>Search here:</h2>
<form ng-submit="search()">
  <input type="text" ng-model="searchParams.q">
  <input type="submit" value="Search!">
</form>


  <div class="welcome" ng-if="hasSearched == 0">
    <h1 >Welcome to the</h1>
    <h2>Yale Projects Board</h2>
    <p>Use the search bar to find projects looking for developers on campus. You can search by programming languages, time commitment, or project description.</p>
  </div>

  <div class="clearfix"></div>

  <div id="results">
    <p ng-if="foundOpenings.length > 0">Found {{foundOpenings.length}} openings that match your search</p>

    <h4 class="no-openings" ng-if="!foundOpenings.length && hasSearched == 1">No openings match your search.</h4>

    <div class="home-opening" ng-repeat="opening in foundOpenings">

      <div ui-sref="project({id: opening.project_id})" class="col-1">
      <a ui-sref="project({id: opening.project_id})">  
        <h1 class="opening-name">{{opening.name}}</h1>
      </a>
      <h2 class="opening-project-name">YALE ROBOTICS DRIVE{{opening.project.name}}</h2>
        <p class="opening-description">{{opening.description}}</p>
        <p class="posted-by">POSTED BY Stan Eisenstat {{opening.postedBy}} ON 9/1/1976{{opening.postedDate}}</p>

      </div>

      <div class="vert-divider"></div>

      <div class="col-2">
      <p>SKILLS</p>
        <ul class="some-skills">
          <li ng-repeat="skill in opening.skills | limitTo:limit">
            {{skill.name}}
          </li>
          <li class="more" ng-if="opening.skills.length > 4 && limit == 4" ng-click="toggleSkills()">
            More...
          </li>
          <li class="less" ng-show="limit > 4" ng-click="toggleSkills()">
            Less...
          </li>
        </ul>

      </div>

      <div class="vert-divider"></div>

      <div class="col-3"> 
        <p class="pay">${{opening.pay_amount}}</p>
        <p class="pay-type">{{opening.pay_type}}</p>
        <p class="time">{{opening.timeframe}}</p>
      </div>
    </div>

  </div>
<p>Found Users</p>
<h4 ng-if="!foundUsers.length">No users found!</h4>
<div ng-repeat="user in foundUsers">
  <p style="font-weight:bold;">
    <a ui-sref="profile({netid: user.netid})">{{user.first_name}} {{user.last_name}}</a>
  </p>
  <p style="font-style:italic;">{{user.bio}}</p>
  <p>Skills:</p>
  <ul>
    <li ng-repeat="skill in user.skills">
      {{skill.name}}
    </li>
  </ul>
</div>

<h2>Footer</h2>
<a onclick="window.location.assign('<%= login_path %>')">login</a>
<a ng-click="clearCookies()">logout</a>
>

  <div class="more-options"></div>

</div>
