<div class="container">

  <div class="search">
    <form class='main-search' ng-submit="search()">
      <div class="searchbox">
        <img src="/assets/searchicon.jpg" alt="" class="searchicon"></img>
        <input type="text" class="searchfield" ng-model="searchParams.q">
      </div>
    </form>
    <div class="options-button">
      <p class="non-q-mark">Help</p>
      <p class="q-mark">?</p>
    </div>
    <div class="options-button" id="right-button" ng-click="showOptions()">
      <p>More Options</p>
      <img src="" alt="" class="down-arrow">
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- "More Options" dropdown menu -->
  <div class="more-options">
   <!--  <p class="a-like" ng-click="createProject()">Create a project</p>
    <div ng-if="newProject">
      <input type="text" ng-model="newProject.name">
      <textarea cols="30" rows="10" ng-model="newProject.description"></textarea>
      <button ng-click="saveNewProject()">Save</button>
      <button ng-click="cancelNewProject()">Cancel</button>
    </div> -->
    <div class="option-block">
      <h1>SHOW</h1>
        <div class="option-bubble">
          <div class="left">
            <p>users</p>
          </div>
          <div class="right">
            <p>openings</p>
          </div>
        </div>
    </div>

    <div class="option-block">
      <h1>SORT BY</h1>
    </div>

    <div class="option-block">
      <h1>FILTER ON</h1>
        <div class="option-bubble">
          <div class="top-bubble">
            <p>term-time</p>
          </div>
          <div class="middle">
            <p>summer</p>
          </div>
          <div class="bottom">
            <p>full-time</p>
          </div>
        </div>
      </div>

  </div>

  <div class="welcome" ng-if="hasSearched == 0">
    <h1 >Welcome to the</h1>
    <h2>Yale Projects Board</h2>
    <p>Use the search bar to find projects looking for developers on campus. You can search by programming languages, time commitment, or project description.</p>
  </div>

  <div id="results">
    <p ng-if="foundOpenings.length > 0">Found {{foundOpenings.length}} openings that match your search</p>
  </div>

    <h4 class="no-openings" ng-if="!foundOpenings.length && hasSearched == 1">No openings match your search.</h4>

    <div class="opening" ng-init="inLimit=4" ng-repeat="opening in foundOpenings">

      <!-- name & description -->
      <div ui-sref="project({id: opening.project_id})" class="col-1">
      <a ui-sref="project({id: opening.project_id})">  
        <h1 class="opening-name">{{opening.name}}</h1>
      </a>
      <h2 class="opening-subheader">{{opening.project.name}}</h2>
      <p class="opening-description">{{opening.description}}</p>
      <p class="posted-by">UPDATED ON {{opening.updated_at | date:"medium"}}</p>
      </div>

      <div class="vert-divider"></div>

      <!-- skills --> 
      <div class="col-2">
      <p>SKILLS</p>
        <ul class="some-skills" ng-click="inLimit = 20" ng-click"inLimit = 4">
          <li ng-repeat="skill in opening.skills | limitTo:inLimit" >
            {{skill.name}}
          </li>
          <li class="more" ng-if="opening.skills.length > 4 && inLimit == 4">
            Show all...
          </li>
        </ul>

      </div>

      <div class="vert-divider"></div>

      <!-- pay info -->
      <div ui-sref="project({id: opening.project_id})" class="col-3"> 
        <p class="pay">${{opening.pay_amount}}</p>
        <p class="pay-type">{{opening.pay_type}}</p>
        <p class="time">({{opening.timeframe}})</p>
      </div>
    </div>

    <p ng-if="foundUsers.length > 0 && hasSearched == 1">Found {{foundUsers.length}} users who match your search.</p>
    <h4 class="no-openings" ng-if="!foundUsers.length && hasSearched == 1">No users match your search</h4>

    <div class="opening" ng-repeat="user in foundUsers" ui-sref="profile({netid: user.netid})">

      <div class="col-1">
        <h1 class="opening-name" >{{user.first_name}} {{user.last_name}}
        </h1>
        <h2 class="user-info opening-subheader">{{user.college}} {{user.year}}</h2>
        <p class="bio">{{user.bio}}</p>
      </div>

      <div class="vert-divider"></div>

      <div class="col-2">
        <p>SKILLS</p>
        <ul>
          <li ng-repeat="skill in user.skills">
            {{skill.name}}
          </li>
       </ul>
      </div>

      <div class="vert-divider"></div>
      
      <div class="col-2">
        <p>CONTACT</p>
        <p>{{email}}</p>
        <p>{{github_url}}</p>
        <p>{{linkedin_url}}</p>
      </div>


    </div>

  </div>

</div>
