<h1>Welcome to the Yale Projects Marketplace!</h1>
<h2>Search here:</h2>
<form ng-submit="search()">
  <input type="text" ng-model="searchInput">
  <input type="submit" value="Search!">
</form>

<p>Found openings</p>
<h4 ng-if="!foundOpenings.length">No openings found!</h4>
<div ng-repeat="opening in foundOpenings">
  <a ui-sref="project({id: opening.project_id})">
    <p style="font-weight:bold;">{{opening.name}}</p>
  </a>
  <p style="font-style:italic;">{{opening.description}}</p>
  <p>Skills:</p>
  <ul>
    <li ng-repeat="skill in opening.skills">
      {{skill.name}}
    </li>
  </ul>
</div>

<h2>Footer</h2>
<a onclick="window.location.assign('<%= login_path %>')">login</a>
<a ng-click="clearCookies()">logout</a>

