<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <!-- Search bar and results -->
      <form class='main-search' ng-submit="searchEntered()">
        <div class="searchbox">
          <img class="form-icon" src="<%= asset_path 'searchicon.jpg' %>" alt="" class="searchicon"></img>
          <input type="text" class="searchfield search-font" placeholder="skills or keywords" autofocus="autofocus" ng-model="searchParams.q">
        </div>
      </form>
      <div class="mobile-search no-tablet no-desktop" ng-click="searchParams.options=!searchParams.options">
        <!-- Options button for phone only -->
        <div class="options-button mobile-margin-top">
          <p class="button-text">More options</p>
        </div>
        
      </div>
    </div>

    <div class="col-sm-2 no-phone">
      <!-- Options for tablet and desktop (i.e. not phone) -->
      <div class="options-button tall-button" ng-click="searchParams.options=!searchParams.options">
        <p class="button-text tall-button-text extra-breakpoint">More Options</p>
      </div>
    </div>
  </div>

  <div class="more-options no-desktop row" ng-show="searchParams.options">
    <!-- Options for tablet and phone (i.e. mobile) -->
    <div class="col-xs-4">
      <div class="option-block">
        <h1 class="body-text grey no-space">SHOW</h1>
        <div class="btn-group show mobile-block">
          <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'all'">both</label>
          <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'openings'">openings</label>
          <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'users'">users</label>
        </div>
    </div>
    </div>
    <div class="col-xs-4">
      <div class="option-block">
        <h1 class="body-text grey no-space">SORT BY</h1>
        <div class="btn-group sort-by">
          <label class="btn btn-primary filter-btn top" ng-model="searchParams.sort" btn-radio="'newest'">newest</label>
          <label class="btn btn-primary filter-btn" ng-model="searchParams.sort" btn-radio="'pay'">pay</label>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="option-block">
        <h1 class="body-text grey no-space">FILTER ON</h1>
        <div class="btn-group filter-on">
          <label class="btn btn-primary filter-btn top" ng-model="tfs.termtime" btn-checkbox>term-time</label>
          <label class="btn btn-primary filter-btn" ng-model="tfs.summer" btn-checkbox>summer</label>
          <label class="btn btn-primary filter-btn bottom" ng-model="tfs.fulltime" btn-checkbox>full-time</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-12">
      <p class="body-text larger-body grey" ng-if="filteredOpenings.length > 0">Found {{filteredOpenings.length}} openings that match your search</p>
        <p class="body-text grey thin" ng-if="!filteredOpenings.length">No openings match your search.</p>
        <!-- Job Opening returned from search -->
        <div class="opening" ng-init="skillLimit=4" ng-repeat="opening in filteredOpenings | orderBy:sort">
          <div star opening="opening"></div>
          <div class="row">
            <div class="col-xs-7 col-sm-8" ui-sref="project({id: opening.project_id})">
                <h1 class="title-small blue no-space">{{opening.name}}</h1>
              
              <p class="body-text caps grey no-space larger-body small-margin">{{opening.project.name}}</p>

              <p class="body-text no-space med-margin clear-bottom">{{opening.description}}</p>
            </div>
            <p class="body-text thin grey bottom-left">Updated on {{opening.updated_at | date:"medium"}}</p>
            <div class="col-xs-2 col-sm-2 no-mobile-padding has-borders">
              <p class="body-text grey caps no-space">SKILLS</p>
              <ul ng-click="skillLimit==4 ? skillLimit = 20 : skillLimit = 4" class="list">
                <li class="body-text" ng-repeat="skill in opening.skills | limitTo:skillLimit" >
                  {{skill.name}}
                </li>
                <li class="body-text grey" ng-if="opening.skills.length > 4 && skillLimit == 4">
                  Show all...
                </li>
                <li class="body-text grey" ng-if="skillLimit == 20">Show fewer...</li>
              </ul>
            </div>
            <div class="col-xs-3 col-sm-2 pay-column no-mobile-padding">
              <p class="title-small no-space pay-amt">${{opening.pay_amount}}</p>
              <p class="body-text grey caps tiny-text no-space">{{opening.pay_type}}</p>
              <p class="body-text grey no-space thin tiny-text">({{opening.timeframe}})</p>
            </div>
          </div>
        </div>
        <hr>
<<<<<<< HEAD

        <p class="body-text larger-body grey" ng-if="filteredUsers.length > 0">Found {{filteredUsers.length}} users who match your search.</p>
=======
        <p class="body-text grey thin" ng-if="filteredUsers.length > 0">Found {{filteredUsers.length}} users who match your search.</p>
>>>>>>> 6f1c4c3128ad6c5e30685ff04d4adfc307af0864
        <p class="body-text grey thin" ng-if="!filteredUsers.length">No users match your search</p>
        <!-- Users go here -->
        <div class="opening user" ng-repeat="user in filteredUsers">
          <div class="row">
            <div class="col-xs-8" ui-sref="profile({netid: user.netid})">
              <h1 class="title-small no-space green" >{{user.first_name}} {{user.last_name}}
              </h1>
              <h2 class="body-text caps grey no-space small-margin">{{user.college}} {{user.year}}</h2>
              <p class="body-text no-space med-margin">{{user.bio}}</p>
            </div>
            <div class="col-sm-2 col-xs-4 has-borders">
              <p class="body-text grey caps no-space"> SKILLS</p>
              <ul class="list">
                <li class="body-text" ng-repeat="skill in user.skills">
                  {{skill.name}}
                </li>
             </ul>
            </div>
            
            <div class="col-sm-2 col-xs-12">
              <div class="options-button green-button contact-button tall-button mobile-margin-top"><p class="button-text tall-button-text link">Contact </p></div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-2 no-phone no-tablet">
      <!-- Options desktop (i.e. not phone or tablet) -->

      <div class="more-options no-mobile" ng-show="searchParams.options">
        <div class="option-block">
          <h1 class="body-text grey">SHOW</h1>
          <div class="btn-group show">
            <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'all'">both</label>
            <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'openings'">openings</label>
            <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'users'">users</label>
          </div>
        </div>
        <div class="option-block">
          <h1 class="body-text grey">SORT BY</h1>
            <div class="btn-group sort-by">
              <label class="btn btn-primary filter-btn top" ng-model="searchParams.sort" btn-radio="'newest'">newest</label>
              <label class="btn btn-primary filter-btn" ng-model="searchParams.sort" btn-radio="'pay'">pay</label>
              <label class="btn btn-primary filter-btn" ng-model="searchParams.sort" btn-radio="'pay'">popularity</label>
            </div>
          </div>
        <div class="option-block">
          <h1 class="body-text grey">FILTER ON</h1>
            <div class="btn-group filter-on">
              <label class="btn btn-primary filter-btn top" ng-model="tfs.termtime" btn-checkbox>term-time</label>
              <label class="btn btn-primary filter-btn" ng-model="tfs.summer" btn-checkbox>summer</label>
              <label class="btn btn-primary filter-btn bottom" ng-model="tfs.fulltime" btn-checkbox>full-time</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
