<div class="container-fluid">
  <div class="search">
    <form class='main-search' ng-submit="searchEntered()">
      <div class="searchbox">
        <img src="/assets/searchicon.jpg" alt="" class="searchicon"></img>
        <input type="text" class="searchfield" autofocus="autofocus" ng-model="searchParams.q">
      </div>
    </form>
    <div class="options-button help-button">
      <p class="non-q-mark">Help</p>
      <p class="q-mark">?</p>
    </div>
    <div class="options-button home-options" id="right-button" ng-click="searchParams.options = !searchParams.options">
      <p>More Options</p>
      <!-- <img src="" alt="" class="down-arrow"> -->
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- "More Options" dropdown menu -->
  <div class="more-options" ng-show="searchParams.options">
    <div class="option-block">
      <h1>SHOW</h1>
        <div class="btn-group show">
          <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'all'">both</label>
          <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'openings'">openings</label>
          <label class="btn btn-primary filter-btn" ng-model="searchParams.show" btn-radio="'users'">users</label>
        </div>
    <!-- </div>
    <div class="option-block"> -->
      <h1>SORT BY</h1>
        <div class="btn-group sort-by">
          <label class="btn btn-primary filter-btn top" ng-model="searchParams.sort" btn-radio="'newest'">newest</label>
          <label class="btn btn-primary filter-btn" ng-model="searchParams.sort" btn-radio="'pay'">pay</label>
          <label class="btn btn-primary filter-btn bottom" ng-model="searchParams.sort" btn-radio="'relevance'">relevance</label>
      </div>
    <!-- </div>
    <div class="option-block"> -->
      <h1>FILTER ON</h1>
      <div class="btn-group filter-on">
        <label class="btn btn-primary filter-btn top" ng-model="tfs.termtime" btn-checkbox>term-time</label>
        <label class="btn btn-primary filter-btn" ng-model="tfs.summer" btn-checkbox>summer</label>
        <label class="btn btn-primary filter-btn bottom" ng-model="tfs.fulltime" btn-checkbox>full-time</label>
      </div>
    </div>
  </div>

  <p class="helper-text" ng-if="filteredOpenings.length > 0">Found {{filteredOpenings.length}} openings that match your search</p>

  <p class="helper-text" ng-if="!filteredOpenings.length">No openings match your search.</p>

  <!-- Job Opening returned from search -->
  <div class="opening" ng-init="skillLimit=4" ng-repeat="opening in filteredOpenings | orderBy: sort : reverse">

  <div star opening-id="{{opening.id}}" class="star"></div>
    <!-- name & description -->
    <div ui-sref="project({id: opening.project_id})" class="col-1">
    <a ui-sref="project({id: opening.project_id})">  
      <h1 class="opening-name">{{opening.name}}</h1>
    </a>
    <h2 class="opening-subheader">{{opening.project.name}}</h2>
    <p class="opening-description">{{opening.description}}</p>
    <p class="posted-by">UPDATED ON {{opening.updated_at | date:"medium"}}</p>
    </div>

    <div class="vert-divider"></div>

    <!-- skills --> 
    <div class="col-2">
    <p>SKILLS</p>
      <ul ng-click="skillLimit==4 ? skillLimit = 20 : skillLimit = 4" class="some-skills">
        <li ng-repeat="skill in opening.skills | limitTo:skillLimit" >
          {{skill.name}}
        </li>
        <li class="more" ng-if="opening.skills.length > 4 && skillLimit == 4">
          Show all...
        </li>
        <li class="more" ng-if="skillLimit == 20">Show fewer...</li>
      </ul>
    </div>

    <div class="vert-divider"></div>

    <!-- pay info -->
    <div ui-sref="project({id: opening.project_id})" class="col-3"> 
      <p class="pay">${{opening.pay_amount}}</p>
      <p class="pay-type">{{opening.pay_type}}</p>
      <p class="time">({{opening.timeframe}})</p>
    </div>
  </div>

    <p class="helper-text" ng-if="filteredUsers.length > 0">Found {{filteredUsers.length}} users who match your search.</p>
    <p class="helper-text" ng-if="!filteredUsers.length">No users match your search</p>

    <div class="opening" ng-repeat="user in filteredUsers" ui-sref="profile({netid: user.netid})">

      <div class="col-1">
        <h1 class="opening-name" >{{user.first_name}} {{user.last_name}}
        </h1>
        <h2 class="user-info opening-subheader">{{user.college}} {{user.year}}</h2>
        <p class="bio">{{user.bio}}</p>
      </div>

      <div class="vert-divider"></div>
      <div class="col-2">
        <p>SKILLS</p>
        <ul>
          <li ng-repeat="skill in user.skills">
            {{skill.name}}
          </li>
       </ul>
      </div>

      <div class="vert-divider"></div>
      
      <div class="col-2">
        <p>CONTACT</p>
        <p>{{email}}</p>
        <p>{{github_url}}</p>
        <p>{{linkedin_url}}</p>
      </div>
    </div>
  </div>
</div>
