<div class="container">

  <div class="search">
    <form class='main-search' ng-submit="search()">
      <div class="searchbox">
        <img src="../../assets/images/searchicon.jpg" alt="" class="searchicon"></img>
        <input type="text" class="searchfield" ng-model="searchInput">
      </div>
    </form>
    <div class="options-button">
      <p>Show Recent</p>
    </div>
    <div class="options-button" ng-click="showOptions()">
      <p>More Options</p>
      <img src="" alt="" class="down-arrow">
    </div>
  </div>

  <div class="welcome" ng-if="hasSearched == 0">
    <h1 >Welcome to the</h1>
    <h2>Yale Projects Board</h2>
    <p>Use the search bar to find projects looking for developers on campus. You can search by programming languages, time commitment, or project description.</p>
  </div>

  <div class="clearfix"></div>

  <div id="results">
    <p ng-if="foundOpenings.length > 0">Found {{foundOpenings.length}} openings that match your search</p>

    <h4 class="no-openings" ng-if="!foundOpenings.length && hasSearched == 1">No openings match your search.</h4>

    <div class="home-opening" ng-repeat="opening in foundOpenings">

      <div ui-sref="project({id: opening.project_id})" class="col-1">
      <a ui-sref="project({id: opening.project_id})">  
        <h1 class="opening-name">{{opening.name}}</h1>
      </a>
      <h2 class="opening-project-name">YALE ROBOTICS DRIVE{{opening.project.name}}</h2>
        <p class="opening-description">{{opening.description}}</p>
        <p class="posted-by">POSTED BY Stan Eisenstat {{opening.postedBy}} ON 9/1/1976{{opening.postedDate}}</p>

      </div>

      <div class="vert-divider"></div>

      <div class="col-2">
      <p>SKILLS</p>
        <ul class="some-skills">
          <li ng-repeat="skill in opening.skills | limitTo:limit">
            {{skill.name}}
          </li>
          <li class="more" ng-if="opening.skills.length > 4 && limit == 4" ng-click="toggleSkills()">
            More...
          </li>
          <li class="less" ng-show="limit > 4" ng-click="toggleSkills()">
            Less...
          </li>
        </ul>

      </div>

      <div class="vert-divider"></div>

      <div class="col-3"> 
        <p class="pay">${{opening.pay_amount}}</p>
        <p class="pay-type">{{opening.pay_type}}</p>
        <p class="time">{{opening.timeframe}}</p>
      </div>
    </div>

  </div>

  <div class="more-options"></div>

</div>
