<span ng-switch="!editingUser">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <div class="searchbox">
          <img class="form-icon" src="/assets/default-user.png" alt="" class="searchicon"></img>
          <span class="search-font margin-left" ng-switch-when="true">{{user.first_name}}</span>
          
          <span class="search-font" ng-switch-when="true">&nbsp;{{user.last_name}}</span>
          <input type="text" class="searchfield search-font grey" autofocus="autofocus" ng-model="user.first_name" ng-switch-when="false" required>
        </div>

        <!-- MOBILE BUTTONS --> 
        <div class="no-tablet no-desktop row">
          <div class="profile-buttons">
            <div class="options-button mobile-button col-xs-6" ng-if="canEdit && !editingUser" ng-click="edit()">
              <p class="button-text">Edit</p>
            </div>
            <div class="options-button mobile-button col-xs-6" ng-if="canEdit && editingUser" ng-click="save()">
              <p class="button-text">Save</p>
            </div>
            <div class="options-button mobile-button col-xs-6" ng-if="canEdit && editingUser" ng-click="cancel()">
              <p class="button-text">Cancel</p>
            </div>
            <div class="options-button mobile-button red-button col-xs-6" ng-if="!editingUser" ng-click="clearCookies()">
              <p class="button-text">Log Out</p>
            </div>
          </div>
        </div>
         <!-- no tablet, no desktop -->

      <!-- <div class="row">
        <div class="col-xs-3 v-align">
          <img class="user-pic" src="http://placekitten.com/g/200/200" alt="">
        </div><div class="col-xs-9 user-name v-align">
          <div class="title">
            <span class="search-font" ng-switch-when="true">{{user.first_name}}</span>
            <input class="half-width" type="text" ng-model="user.first_name" ng-switch-when="false" required> 
           
            <span class="search-font">{{user.last_name}}</span>
          </div>
          <div class="header-medium grey caps no-space">
            <span>{{user.college}} {{user.year}} </span>
            <span class="medium-header grey caps no-space" ng-if="user.is_admin">|  ADMIN</span>
          </div>

        <div class="no-tablet no-desktop">
          <div class="profile-buttons">
            <div class="options-button top-button edit mobile-button" ng-if="canEdit && !editingUser" ng-click="edit()">
              <p class="button-text">Edit</p>
            </div>
            <div class="options-button save mobile-button" ng-if="canEdit && editingUser" ng-click="save()">
              <p class="button-text">Save</p>
            </div>
            <div class="options-button cancel mobile-button" ng-if="canEdit && editingUser" ng-click="cancel()">
              <p class="button-text">Cancel</p>
            </div>
            <div class="options-button red-button mobile-button" ng-click="delete()">
              <p class="button-text">Delete account</p>
            </div>
          </div>
        </div> 
      </div> 
    </div> -->
      </div>  

      <!-- DESKTOP BUTTONS -->
      <div class="col-sm-2 no-phone">
        <div class="profile-buttons">
          <div class="options-button top-button edit" ng-if="canEdit && !editingUser" ng-click="edit()">
            <p class="button-text short-button-text">Edit</p>
          </div>
          <div class="options-button top-button red-button" ng-if="canEdit && !editingUser" ng-click="clearCookies()">
            <p class="button-text short-button-text">Log Out</p>
          </div>
          <div class="options-button save" ng-if="canEdit && editingUser" ng-click="save()">
            <p class="button-text short-button-text">Save</p>
          </div>
          <div class="options-button cancel" ng-if="canEdit && editingUser" ng-click="cancel()">
            <p class="button-text short-button-text">Cancel</p>
          </div>

        </div>
      </div>
    </div>


    <!-- Contact, Skills & Bio -->
    <div class="row pad-left">
      <div class="col-xs-12 col-md-8">
        <div class="profile-about">
          <h1 class="header-medium grey">ABOUT</h1>
          <p class="body-text" ng-switch-when="true">{{user.bio}}</p>
          <textarea class="full-width body-text" ng-model="user.bio" ng-switch-when="false" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">        
        <div class="profile-skills">
         <h1 class="header-medium grey">SKILLS</h1>

         <span ng-switch-when="true">
          <ul class="list">
            <li class="body-text" ng-repeat="skill in user.skills">
              {{skill.name}}
            </li>
          </ul>
        </span>

        <span ng-switch-when="false" >
          <select class="chosen-box" multiple chosen ng-options="skill.name for skill in allSkills track by skill.id" ng-model="user.skills" required data-placeholder="Choose some skills..."></select>
        </span>
      </div>
    </div>

    <div class="col-xs-6 col-md-2">
      <h1 class="header-medium grey">CONTACT</h1>
      <p class="body-text">
        <a ng-href="mailto:{{user.email}}" target="blank">{{user.email}}</a>
      </p>
      <p>
        <a ng-href="http://linkedin.com/in/{{user.linkedin_url}}" target="blank" ng-if="user.linkedin_url && !editingUser">linkedin.com/in/{{user.linkedin_url}}</a>
        <span ng-switch-when="false">
          linkedin.com/in/<input type="text" ng-model="user.linkedin_url">
        </span>
      </p>
      <p class="body-text">
        <a ng-href="http://github.com/{{user.github_url}}" target="blank" ng-if="user.github_url && !editingUser">github.com/{{user.github_url}}</a>
        <span ng-switch-when="false">
          github.com/<input type="text" ng-model="user.github_url">
        </span>
      </p>
    </div>

  </div>
  <hr class="no-desktop">
  <!--- <div class="row no-desktop">
    <div class="col-xs-6">
      <h1 class="header-medium grey">CONTACT</h1>
      <p class="body-text">
        <a ng-href="mailto:{{user.email}}" target="blank">{{user.email}}</a>
      </p>
      <p class="body-text">
        <a ng-href="{{user.linkedin_url}}" target="blank">{{user.linkedin_url}}</a>
      </p>
      <p class="body-text">
        <a ng-href="{{user.github_url}}" target="blank">{{user.github_url}}</a>
      </p>
    </div>
    <div class="col-xs-6">
      <h1 class="header-medium grey">SKILLS</h1>

        <span ng-switch-when="true">
          <ul class="list">
            <li class="body-text" ng-repeat="skill in user.skills">
              {{skill.name}}
            </li>
          </ul>
        </span>

        <span ng-switch-when="false" >
          <select multiple chosen ng-options="skill.name for skill in allSkills track by skill.id" ng-model="user.skills" required data-placeholder="Choose some skills..."></select>
        </span>
    </div>
  </div> -->
  <hr class="bottom-margin">

  <div class="row">
    <div class="col-xs-12">
      <div class="profile-projects">
        <h1 class="title-small" ng-if="user.leading_projects.length">Projects {{user.first_name}} leads</h1>
        <div class="opening" ui-sref="project({id: project.id})" ng-repeat="project in user.leading_projects">
          <p class="title-small blue no-space">{{project.name}}</p>
          <p class="body-text">{{project.description}}</p>
          <p class="header-medium thin grey bottom-left">Posted on {{project.updated_at | date:"medium"}}</p>
        </div>
      </div>

      <h1 class="header-medium grey thin" ng-if="!user.leading_projects.length">This user is not leading any projects</h1>
    </div>
  </div>
  <div class="row">
    <div class="options-button red-button col-md-2 col-xs-12 mobile-button float-right" ng-click="delete()">
      <p class="button-text short-button-text">Delete account</p>
    </div>
  </div>
</div>

</div>
</span>
