<span class="profile-page" ng-switch="!editingUser">

  <!-- Edit Buttons -->
  <div class="profile-buttons">
    <div class="options-button top-button edit" ng-if="canEdit && !editingUser" ng-click="edit()">
      <p>Edit</p>
    </div>
    <div class="options-button save" ng-if="canEdit && editingUser" ng-click="save()">
      <p>Save</p>
    </div>
    <div class="options-button cancel" ng-if="canEdit && editingUser" ng-click="cancel()">
      <p>Cancel</p>
    </div>
    <div class="options-button delete" ng-click="delete()">
      <p>Delete account</p>
    </div>
  </div>
    

  <!-- Name & Info-->
  <div class="profile-heading">
    <img ng-src="user.photo_url" alt="">
    <div class="user-info">
      <div class="user-name">
        <span ng-switch-when="true">{{user.first_name}}</span>
        <input type="text" ng-model="user.first_name" ng-switch-when="false" required> 

        <!-- Can't edit your last name -->
        <span>{{user.last_name}}</span>
      </div>

      <div class="user-college">
        <p>{{user.college}} {{user.year}} </p>
        <p class="user-college" ng-if="user.is_admin">|  ADMIN</p>
      </div> 

    <div class="mobile-buttons">
      <div class="options-button mobile-button edit" ng-if="canEdit && !editingUser" ng-click="edit()">
        <p>Edit</p>
      </div>
      <div class="options-button mobile-button save" ng-if="canEdit && editingUser" ng-click="save()">
        <p>Save</p>
      </div>
      <div class="options-button mobile-button cancel" ng-if="canEdit && editingUser" ng-click="cancel()">
        <p>Cancel</p>
      </div>
      <div class="options-button mobile-button delete" ng-click="delete()">
        <p>Delete account</p>
      </div>
    </div>

    </div>
  </div>


  
  <!-- Contact & Bio -->
  <div class="profile-bio">

    <div class="profile-about">
      <h1>ABOUT</h1>
        <p ng-switch-when="true">{{user.bio}}</p>
        <textarea ng-model="user.bio" ng-switch-when="false" cols="30" rows="10"></textarea>
    </div>
    
    <div class="skills-contact">
      <div class="profile-skills">
        <h1>SKILLS</h1>

          <span ng-switch-when="true">
            <ul>
              <li ng-repeat="skill in user.skills">
                {{skill.name}}
              </li>
            </ul>
          </span>

          <span ng-switch-when="false" >
            <select multiple chosen ng-options="skill.name for skill in allSkills track by skill.id" ng-model="user.skills" required style="width: 100%;" data-placeholder="Choose some skills..."></select>
          </span>
      </div>

      <div class="contact">
        <h1>CONTACT</h1>
            <p>
              <a ng-href="mailto:{{user.email}}" target="blank">{{user.email}}</a>
            </p>
            <p>
              <a ng-href="{{user.linkedin_url}}" target="blank">{{user.linkedin_url}}</a>
            </p>
            <p>
              <a ng-href="{{user.github_url}}" target="blank">{{user.github_url}}</a>
            </p>
          </ul>
      </div>
    </div>

  </div>

  <div class="profile-projects">

    <h1 ng-if="user.leading_projects.length">{{user.first_name}}'s projects</h1>
    <div class="opening" ui-sref="project({id: project.id})" ng-repeat="project in user.leading_projects">
      <p class="opening-name">{{project.name}}</p>
      <p class="opening-description">{{project.description}}</p>
      <p class="posted-by">POSTED ON {{opening.updated_at | date:"medium"}} | {{opening.num_views}} views | 3 openings</p>
    </div>

    <div class="stars">
      <h1>Starred</h1>
    
      <!-- <div class="opening" ng-repeat="opening_id in user.favorite_opening_ids track by favorite_opening_ids" ui-sref="project({id: project.id})"> -->

      {{user.favorite_opening_ids}}
    </div>

  <h1 ng-if="!user.leading_projects.length">This user is not leading any projects</h1>
  </div>

</span>
