<span ng-switch="!editingUser">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10">
      <div class="searchbox">
        <img class="form-icon" src="<%= asset_path 'default-user.png' %>" alt="" class="searchicon"></img>
         <span class="search-font margin-left" ng-switch-when="true">{{user.first_name}}</span>
        <span class="search-font" ng-switch-when="true">&nbsp;{{user.last_name}}</span>
        <input type="text" class="searchfield search-font grey" autofocus="autofocus" ng-model="user.first_name" ng-switch-when="false" required>
      </div>
      <!-- MOBILE BUTTONS --> 
      <div class="no-tablet no-desktop row margin-top">
        <div class="col-xs-6">
          <div class="options-button mobile-button mobile-margin-top" ng-if="canEdit && !editingUser" ng-click="edit()">
            <p class="button-text">Edit</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="options-button mobile-button red-button mobile-margin-top" ng-if="!editingUser" ng-click="clearCookies()">
            <p class="button-text">Log Out</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="options-button mobile-button mobile-margin-top" ng-if="canEdit && editingUser" ng-click="save()">
            <p class="button-text">Save</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="options-button mobile-button mobile-margin-top" ng-if="canEdit && editingUser" ng-click="cancel()">
            <p class="button-text">Cancel</p>
          </div>
        </div>
      </div>
    </div>  
    <!-- DESKTOP BUTTONS -->
    <div class="col-sm-3 col-md-2 no-phone">
        <div class="options-button top-button two-across-btn left-btn edit" ng-if="canEdit && !editingUser" ng-click="edit()">
          <p class="button-text">Edit</p>
        </div>
        <div class="options-button top-button two-across-btn orange-button" ng-if="canEdit && !editingUser" ng-click="clearCookies()">
          <p class="button-text">Log Out</p>
        </div>
        <div class="options-button two-across-btn left-btn save" ng-if="canEdit && editingUser" ng-click="save()">
          <p class="button-text">Save</p>
        </div>
        <div class="options-button two-across-btn cancel" ng-if="canEdit && editingUser" ng-click="cancel()">
          <p class="button-text">Cancel</p>
        </div>
    </div>
  </div>
  <!-- Contact, Skills & Bio -->
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="profile-about">
        <h1 class="body-text grey">ABOUT</h1>
       <p class="body-text" ng-switch-when="true">{{user.bio}}</p>
        <textarea class="full-width body-text" ng-model="user.bio" ng-switch-when="false" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="col-xs-6 col-md-2">        
      <div class="profile-skills">
       <p class="body-text grey">SKILLS</p>
        <span ng-switch-when="true">
          <ul class="list">
            <li class="body-text" ng-repeat="skill in user.skills">
              {{skill.name}}
            </li>
          </ul>
        </span>
        <span ng-switch-when="false" >
          <select class="chosen-box" multiple chosen ng-options="skill.name for skill in allSkills track by skill.id" ng-model="user.skills" data-placeholder="Choose some skills..."></select>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <h1 class="body-text grey">CONTACT</h1>
        <p class="body-text no-space">
          <a ng-href="mailto:{{user.email}}" target="blank">{{user.email}}</a>
        </p>
        <p class="body-text no-space sm-margin">
          <span ng-switch-when="false">linkedin.com/in/<input type="text" class="half-width" ng-model="user.linkedin_url"></span>
          <a ng-href="http://linkedin.com/in/{{user.linkedin_url}}" target="blank" ng-if="user.linkedin_url && !editingUser">linkedin.com/in/{{user.linkedin_url}}</a>
        </p>
        <p class="body-text no-space sm-margin">
          <span ng-switch-when="false">github.com/<input type="text" class="half-width" ng-model="user.github_url"></span>
          <a ng-href="http://github.com/{{user.github_url}}" target="blank"  ng-if="user.github_url && !editingUser">github.com/{{user.github_url}}</a>
        </p>
    </div>
  </div>
  <hr class="bottom-margin">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile-projects">
        <h1 class="title-small" ng-if="user.leading_projects.length">Projects {{user.first_name}} leads</h1>
        <div class="opening" ui-sref="project({id: project.id})" ng-click="setTab('explore')" ng-repeat="project in user.leading_projects">
          <p class="title-small blue no-space">{{project.name}}</p>
          <p class="body-text">{{project.description}}</p>
          <p class="body-text thin grey bottom-left">Posted on {{project.updated_at | date:"medium"}}</p>
        </div>
      </div>
      <h1 class="body-text grey thin" ng-if="!user.leading_projects.length">This user is not leading any projects</h1>
    </div>
  </div>
</div>
</span>
