<span ng-switch="!editingUser">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="row">
        <div class="col-xs-3">
          <img src="http://placekitten.com/g/200/200" style="width:100%" alt="">
        </div>
        <div class="col-xs-9">
          Name
          <div class="no-tablet no-desktop">Edit (phone)</div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 no-phone">
      Edit (tab + desk)
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-sm-3 no-mobile">Contact (desktop)</div>
        <div class="col-sm-9">Bio (all)</div>
      </div>
    </div>
    <div class="col-sm-2 no-mobile">Skills (desktop)</div>
  </div>
  <hr class="no-desktop">
  <div class="row no-desktop">
    <div class="col-xs-6">Contact (mobile)</div>
    <div class="col-xs-6">Skills (mobile)</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      Projects I lead
    </div>
  </div>
</div>
</span>