<span ng-switch="!editingProject">
  <div class="project-heading">
    <h1 ng-switch-when="true">{{project.name}}</h1>
    <input type="text" ng-model="project.name" ng-switch-when="false" class="big" name="name">
  </div>
  <!-- Only show these buttons if I have edit access -->
  <button ng-if="canEdit && !editingProject" ng-click="edit()">Edit project</button>
  <!-- Don't show save/cancel unless I'm currently editing the project -->
  <button ng-if="canEdit && editingProject" ng-click="save()">Save</button>
  <button ng-if="canEdit && editingProject" ng-click="cancel()">Cancel</button>
  <div class="project-description">
    <p ng-switch-when="true">{{project.description}}</p>
    <textarea ng-model="project.description" ng-switch-when="false" cols="30" rows="10"></textarea>
  </div>
</span>
<h3>Openings</h3>
<!-- Show add openings link only if not already editing a new project -->
<!-- If the last opening doesn't have an ID, we're editing a new project -->
<p class="a-like" ng-click="addOpening()" ng-if="canEdit && project.openings[project.openings.length-1].id">Add opening</p>
<div class="opening" ng-repeat="opening in project.openings">
  <form ng-submit="save($index)">
    <!-- A switch on the edit mode for this opening. True => not-editing -->
    <span ng-switch="!editingOpenings[$index]">
      <!-- Name -->
      <div>
        <p class="bold" ng-switch-when="true">{{opening.name}}</p>
        <input type="text" ng-model="opening.name" ng-switch-when="false" required>
      </div>
      <!-- Description -->
      <div>
        <p class="italic" ng-switch-when="true">{{opening.description}}</p>
        <textarea cols="30" rows="10" ng-switch-when="false" ng-model="opening.description" required></textarea>
      </div>
      <!-- Pay amount, type, and timeframe -->
      <div>
        $<!-- <<< There is a $ here -->
        <span ng-switch-when="true">{{opening.pay_amount}}</span>
        <input type="number" ng-switch-when="false" ng-model="opening.pay_amount" required>
        / <!-- <<< There is a slash here -->
        <span ng-switch-when="true">{{opening.pay_type}}</span>
        <select ng-switch-when="false" ng-options="name for name in openingPayTypes" ng-model="opening.pay_type" required></select>
        during <!-- <<< There is a "during" here -->
        <span ng-switch-when="true">{{opening.timeframe}}</span>
        <select ng-switch-when="false" ng-options="name for name in openingTimeframes" ng-model="opening.timeframe" required></select>
      </div>
      <!-- Skills -->
      <div>
        <p class="bold">Skills required</p>
        <div ng-switch-when="true">
          <span ng-repeat="skill in opening.skills">{{skill.name}} | </span>
        </div>
        <!-- A multiple-select jQuery chosen element that shows the name
        of each skill and binds the selected elements to the opening's skills array -->
        <select multiple chosen ng-switch-when="false" ng-options="skill.name for skill in allSkills track by skill.id" ng-model="opening.skills" required style="width: 300px;" data-placeholder="Choose some skills..."></select>
      </div>
      <!-- Control buttons; show only if has edit access -->
      <button ng-if="canEdit && !editingOpenings[$index]" ng-click="edit($index)">Edit opening</button>
      <input type="submit" value="Save" ng-if="canEdit && editingOpenings[$index]"></input>
      <button ng-if="canEdit && editingOpenings[$index]" ng-click="cancel($index)">Cancel</button>
    </span>
  </form>
</div>
