<span ng-switch="!editingProject">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      Name
      <div class="no-tablet no-desktop">Edit (phone)</div>
    </div>
    <div class="col-sm-2 no-phone">Edit (tab + desk)</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      Bio
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      Openings
    </div>
  </div>
</div>
</span>