<span ng-switch="!editingProject">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-10">
        <div class="searchbox">
          <img class="form-icon project-form-icon" src="/assets/project-blue.png" alt="" class="searchicon"></img>
          <span class="search-font margin-left" ng-switch-when="true">{{project.name}}</span>
          <input type="text" maxlength="25" class="searchfield search-font grey" placeholder="Project Name" autofocus="autofocus" ng-model="project.name" ng-switch-when="false" name="name">
        </div>
      </div> 
      <div class="col-md-2 col-sm-3 no-phone">
        <div class="options-button" ng-if="isAdmin && !project.approved" ng-click="approve()">
          <p class="button-text">Approve project</p>
        </div>
        <div class="options-button two-across-btn left-btn" ng-if="canEdit && !editingProject" ng-click="edit()">
          <p class="button-text ">Edit project</p>
        </div>
        <div class="options-button two-across-btn red-button" ng-if="canEdit && !editingProject" ng-click="destroy()">
          <p class="button-text">Delete project</p>
        </div>

        <!-- Don't show save/cancel unless I'm currently editing the project -->
        <div class="options-button green-button two-across-btn left-btn" ng-if="canEdit && editingProject" ng-click="save()">
          <p class="button-text">Save</p>
        </div>
        <div class="options-button two-across-btn red-button" ng-if="canEdit && editingProject" ng-click="cancel()"><p class="button-text">Cancel</p>
        </div>
      </div>
    </div>
    <!-- PHONE BUTTONS -->
    <div class="no-tablet no-desktop row margin-top">
      <!-- Only show these buttons if I have edit access -->
      <div class="options-button" ng-if="isAdmin && !project.approved" ng-click="approve()">
        <p class="button-text">Approve project</p>
      </div>

      <div class="col-xs-6">
        <div class="options-button mobile-margin-top" ng-if="canEdit && !editingProject" ng-click="edit()">
          <p class="button-text">Edit project</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="options-button red-button mobile-margin-top" ng-if="canEdit && !editingProject" ng-click="destroy()">
          <p class="button-text">Delete project</p>
        </div>
      </div>

      <!-- Don't show save/cancel unless I'm currently editing the project -->
      <div class="col-xs-6">
        <div class="options-button green-button mobile-margin-top" ng-if="canEdit && editingProject" ng-click="save()"><p class="button-text ">Save</p></div>
      </div>
      <div class="col-xs-6">
        <div class="options-button red-button mobile-margin-top" ng-if="canEdit && editingProject" ng-click="cancel()"><p class="button-text ">Cancel</p></div>
      </div>
      <p class="body-text" ng-switch-when="true">{{project.description}}</p>
      <textarea class="body-text padding full-width grey description-textarea" placeholder="Give a brief overview of your project. You may want to describe your motivation for working on the project, its current status, and future plans. Don't worry about specific job openings — we'll add those individually below." ng-model="project.description" ng-switch-when="false" cols="30" rows="10"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h3 class="title-small">Openings</h3>
    </div>
    <div class="col-md-2">
      <div class="options-button add-opening" ng-click="addOpening()" ng-if="canEdit && (!project.openings.length || project.openings[0].id)">
        <p class="button-text short-button-text">Add opening</p>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div ng-repeat="leader in project.leaders">
            <p class="body-text grey">Lead by {{leader.full_name}} &nbsp;|  &nbsp;Created on {{project.created_at | date: "short"}}</p>
          </div>
          <p class="body-text" ng-switch-when="true">{{project.description}}</p>
          <textarea class="body-text padding full-width grey description-textarea" placeholder="Give a brief overview of your project. You may want to describe your motivation for working on the project, its current status, and future plans. Don't worry about specific job openings — we'll add those individually below." ng-model="project.description" ng-switch-when="false" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h3 class="title-small blue">Openings</h3>
        </div>
        <div class="col-md-2">
          <div class="options-button add-opening" ng-click="addOpening()" ng-if="canEdit && (project.openings[project.openings.length-1].id || !project.openings.length)">
            <p class="button-text">Add opening</p>
          </div>
        </div>
      </div>
      <div class="opening no-hover" ng-init="skillLimit = 4" ng-repeat="opening in project.openings">
        <div star opening-id="{{opening.id}}" class="star"></div>
        <form ng-submit="save($index)">
          <!-- A switch on the edit mode for this opening. True => not-editing -->
          <span ng-switch="!editingOpenings[$index]">
            <div class="row">
              <!-- TITLE & DESCRIPTION -->
              <div class="col-xs-6">
                <p class="title-small blue no-space" ng-switch-when="true">{{opening.name}}</p>
                <input class="title-small blue no-space full-width" type="text" ng-model="opening.name" ng-switch-when="false" required placeholder="The best job ever!">

                <div>
                  <p class="body-text margin-top" ng-switch-when="true">{{opening.description}}</p>
                  <textarea class="body-text margin-top full-width project-description" cols="30" rows="10" ng-switch-when="false" ng-model="opening.description" placeholder="And this is why"></textarea>
                </div>
              </div>
              <div class="col-sm-2 col-xs-3 no-mobile-padding has-borders">

                <p class="body-text grey caps no-space">SKILLS</p>
                <span ng-switch-when="true">
                  <ul ng-click="skillLimit==4 ? skillLimit = 20 : skillLimit = 4" class="list">
                    <li class="body-text" ng-repeat="skill in opening.skills | limitTo:skillLimit" >
                      {{skill.name}}
                    </li>
                    <li class="body-text grey" ng-if="opening.skills.length > 4 && skillLimit == 4">
                      Show all...
                    </li>
                    <li class="body-text grey" ng-if="skillLimit == 20">Show fewer...</li>
                  </ul>
                </span>
                <!-- A multiple-select jQuery chosen element that shows the name
                of each skill and binds the selected elements to the opening's skills array -->
                <!-- Add the ng-switch-when to the span because it doesn't work with chosen properly -->
                <span ng-switch-when="false" >
                  <select class="body-text" multiple chosen ng-options="skill.name for skill in allSkills track by skill.id" ng-model="opening.skills" required style="width: 100%;" data-placeholder="Choose some skills..."></select>
                </span>
              </div>
              <div class="col-sm-2 col-xs-3 pay-column no-mobile-padding">
                <span class="title-small no-space pay-amt" ng-switch-when="true" ng-if="opening.pay_type !== 'volunteer'">${{opening.pay_amount}}</span>
                <input class="title-small no-space pay-amt pay-input" type="number" ng-switch-when="false" ng-model="opening.pay_amount" required>

                <span ng-switch-when="true">
                  <p class="body-text grey caps no-space">{{opening.pay_type}}</p>
                </span>
                <select class="body-text grey caps no-space" ng-switch-when="false" ng-options="name for name in openingPayTypes" ng-model="opening.pay_type" required></select>
                <span ng-switch-when="true">
                  <p class="body-text grey caps thin no-space" >({{opening.timeframe}})</p>
                </span>
                <select class="body-text grey caps no-space" ng-switch-when="false" ng-options="name for name in openingTimeframes" ng-model="opening.timeframe" required></select>
              </div>
              <!-- Control buttons; show only if has edit access -->
              <div class="project-opening-buttons med-margin col-xs-2 no-phone">
                <div class="options-button" ng-if="canEdit && !editingOpenings[$index]" ng-click="edit($index)">
                  <p class="button-text ">Edit</p>
                </div>
                <div class="options-button cancel red-button" ng-if="canEdit && !editingOpenings[$index]" ng-click="destroy($index)">
                  <p class="button-text ">Delete</p>
                </div>
                <div class="options-button green-button tall-button tall-mobile-button" ng-if="!canEdit && !editingOpenings[$index]">
                  <p class="button-text tall-button-text tall-mobile-text">Contact</p>
                </div>
                <input class="options-button full-width save-button green-button button-text " value="Save" type="submit" ng-if="canEdit && editingOpenings[$index]"></input>
                <div class="options-button red-button col-xs-12" ng-if="canEdit && editingOpenings[$index]" ng-click="cancel($index)">
                  <p class="button-text ">Cancel</p>
                </div>
              </div>
              <div class="opening-buttons margin-top col-xs-12 no-desktop no-tablet">
                <div class="options-button" ng-if="canEdit && !editingOpenings[$index]" ng-click="edit($index)">
                  <p class="button-text ">Edit</p>
                </div>
                <div class="options-button cancel red-button" ng-if="canEdit && !editingOpenings[$index]" ng-click="destroy($index)"><p class="button-text ">Delete </p></div>
                <div class="options-button green-button tall-button" ng-if="!canEdit && !editingOpenings[$index]"><p class="button-text tall-button-text">Contact </p></div>                
                <input class="options-button full-width save-button green-button button-text " value="Save" type="submit" ng-if="canEdit && editingOpenings[$index]"></input>
                <div class="options-button red-button col-xs-12" ng-if="canEdit && editingOpenings[$index]" ng-click="cancel($index)">
                  <p class="button-text ">Cancel</p>
                </div>
              </div>
            </div>
          </div>
        </span>
      </span>
    </form>
  </div>
  </div>
  </div>
  </span>