<span ng-switch="!editingProject">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-10">
        <div class="searchbox">
          <img class="form-icon project-form-icon" src="<%= asset_path 'project-blue.png' %>" alt="" class="searchicon"></img>
          <span class="search-font margin-left" ng-switch-when="true">{{project.name}}</span>
          <input type="text" maxlength="25" class="searchfield search-font grey" placeholder="Project Name" autofocus="autofocus" ng-model="project.name" ng-switch-when="false" name="name">
        </div>
      </div> 
      <div class="col-md-2 col-sm-3 no-phone">
        <div class="options-button" ng-if="isAdmin && !project.approved" ng-click="approve()">
          <p class="button-text">Approve project</p>
        </div>
        <div class="options-button two-across-btn left-btn" ng-if="canEdit && !editingProject" ng-click="edit()">
          <p class="button-text">Edit</p>
        </div>
        <div class="options-button two-across-btn red-button" ng-if="canEdit && !editingProject" ng-click="destroy()">
          <p class="button-text">Delete</p>
        </div>
        <!-- Don't show save/cancel unless I'm currently editing the project -->
        <div class="options-button green-button two-across-btn left-btn" ng-if="canEdit && editingProject" ng-click="save()">
          <p class="button-text">Save</p>
        </div>
        <div class="options-button two-across-btn red-button" ng-if="canEdit && editingProject" ng-click="cancel()"><p class="button-text">Cancel</p>
        </div>
      </div>
    </div>
    <!-- PHONE BUTTONS -->
    <div class="no-tablet no-desktop row margin-top">
      <!-- Only show these buttons if I have edit access -->
      <div class="options-button" ng-if="isAdmin && !project.approved" ng-click="approve()">
        <p class="button-text">Approve project</p>
      </div>
      <div class="col-xs-6">
        <div class="options-button mobile-margin-top" ng-if="canEdit && !editingProject" ng-click="edit()">
          <p class="button-text">Edit project</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="options-button red-button mobile-margin-top" ng-if="canEdit && !editingProject" ng-click="destroy()">
          <p class="button-text">Delete project</p>
        </div>
      </div>
      <!-- Don't show save/cancel unless I'm currently editing the project -->
      <div class="col-xs-6">
        <div class="options-button green-button mobile-margin-top" ng-if="canEdit && editingProject" ng-click="save()"><p class="button-text ">Save</p></div>
      </div>
      <div class="col-xs-6">
        <div class="options-button red-button mobile-margin-top" ng-if="canEdit && editingProject" ng-click="cancel()"><p class="button-text ">Cancel</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="approved-warning" ng-if="project.id && !project.approved">
          <img src="<%= asset_path 'warning30.png' %>" alt="" class="searchicon"></img>
          <p class="body-text">To ensure quaity, your project is waiting for approval by one of the site administrators. We're already on it—you should receive an approval or feedback in the next 24 hours!</p>
        </div>
        <div ng-if="project.id">
          <p class="body-text grey">Lead by
            <a class="link grey" ng-repeat="leader in project.leaders" ui-sref="profile({netid: leader.netid})">{{leader.full_name}}</a>
            &nbsp;|  &nbsp;Created on {{project.created_at | date: "short"}}</p>
          </div>
          <p class="body-text" ng-switch-when="true" ng-bind-html="project.descriptionHtml"></p>
          <textarea class="body-text padding full-width grey description-textarea" placeholder="Give a brief overview of your project. You may want to describe your motivation for working on the project, its current status, and future plans." ng-model="project.description" ng-switch-when="false" cols="30" rows="10" name="description"></textarea>
          <div ng-bind-html="project.descriptionHtml" ng-switch-when="false"></div>
        </div>
      </div>

      <!-- only show if project is expired -->
      <div ng-if="project.is_expired">
        <p class="title-small expired-text col-xs-10">THIS PROJECT HAS EXPIRED</p>
        <div class="options-button renew-button tall-button mobile-margin-top orange-button" ng-click="renew()">
          <p class="button-text renew-button-text tall-button-text extra-breakpoint">Renew</p>
        </div>
      </div>

      <div star project="project" ></div>
      <form ng-class='{"opening-faded": opening.expire_notified}' ng-submit="save($index)">
        <div class="row">
          <!-- TITLE & DESCRIPTION -->
          <!-- <div class="col-xs-6">
            <p class="title-small blue no-space" ng-switch-when="true">{{project.name}}</p>
            <input class="title-small blue no-space full-width title-placeholder" type="text" ng-model="project.name" ng-switch-when="false" required placeholder="The best job ever!" name="project-name">
            <div>
              <p class="body-text margin-top" ng-switch-when="true">{{project.description}}</p>
              <textarea class="body-text margin-top full-width project-description" cols="30" rows="10" ng-switch-when="false" ng-model="project.description" required placeholder="And this is why"></textarea>
            </div>
          </div> -->
          <p ng-if="canEdit" class="body-text thin grey bottom-left">Expires on {{project.expires_on| date:"mediumDate"}}</p>

          <div class="col-sm-2 col-xs-3 no-mobile-padding has-borders">
            <p class="body-text grey caps no-space">SKILLS</p>
            <span ng-switch-when="true">
              <ul class="list">
                <li class="body-text" ng-repeat="skill in project.skills | limitTo:skillLimit" >
                  {{skill.name}}
                </li>
                <li class="body-text grey" ng-if="project.skills.length > 4 && skillLimit == 4" ng-click="skillLimit = 20">
                  Show all...
                </li>
                <li class="body-text grey" ng-if="skillLimit == 20" ng-click="skillLimit = 4">Show fewer...</li>
              </ul>
            </span>
            <!-- A multiple-select jQuery chosen element that shows the name
            of each skill and binds the selected elements to the project's skills array -->
            <!-- Add the ng-switch-when to the span because it doesn't work with chosen properly -->
            <span ng-switch-when="false" >
              <select class="body-text" multiple chosen ng-options="skill.name for skill in allSkills track by skill.id" ng-model="project.skills" style="width: 100%;" data-placeholder="Choose some skills..."></select>
            </span>
          </div>
          <div class="col-sm-2 col-xs-3 pay-column no-mobile-padding">
            <span class="title-small no-space pay-amt" ng-switch-when="true">${{project.pay_amount}}</span>
            <input class="title-small no-space pay-amt pay-input placeholder-title" placeholder="Pay" type="number" ng-switch-when="false" ng-model="project.pay_amount" required>
            <span ng-switch-when="true">
              <p class="body-text grey caps no-space">{{project.pay_type}}</p>
            </span>
            <select class="body-text grey caps no-space" ng-switch-when="false" ng-options="name for name in projectPayTypes" ng-model="project.pay_type" required></select>
            <span ng-switch-when="true">
              <p class="body-text grey caps thin no-space" >({{project.timeframe}})</p>
            </span>
            <select class="body-text grey caps no-space" ng-switch-when="false" ng-options="name for name in projectTimeframes" ng-model="project.timeframe" required></select>
          </div>
          <!-- Control buttons; show only if has edit access -->
          <div class="project-opening-buttons med-margin col-xs-2 no-phone">
            <div class="options-button" ng-if="canEdit && editingIndex != $index" ng-click="edit($index)">
              <p class="button-text ">Edit</p>
            </div>
            <div class="options-button cancel red-button" ng-if="canEdit && editingIndex != $index" ng-click="destroy($index)">
              <p class="button-text ">Delete</p>
            </div>
            <div contact project="project" class="options-button green-button tall-button tall-mobile-button" ng-if="!canEdit">
              <p class="button-text tall-button-text tall-mobile-text">Contact</p>
            </div>
            <input class="options-button full-width save-button green-button button-text " value="Save" type="submit" ng-if="canEdit && editingIndex == $index"></input>
            <div class="options-button red-button col-xs-12" ng-if="canEdit && editingIndex == $index" ng-click="cancel($index)">
              <p class="button-text ">Cancel</p>
            </div>
          </div>
          <div class="opening-buttons margin-top col-xs-12 no-desktop no-tablet">
            <div class="options-button" ng-if="canEdit && editingIndex != $index" ng-click="edit($index)"><p class="button-text ">Edit</p>
            </div>
            <div class="options-button cancel red-button" ng-if="canEdit && editingIndex != $index" ng-click="destroy($index)">
              <p class="button-text ">Delete </p>
            </div>
            <div contact project="project" class="options-button green-button tall-button" ng-if="!canEdit">
              <p class="button-text tall-button-text">Contact</p>
            </div>
            <input class="options-button full-width save-button green-button button-text " value="Save" type="submit" ng-if="canEdit && editingIndex == $index"></input>
            <div class="options-button red-button col-xs-12" ng-if="canEdit && editingIndex == $index" ng-click="cancel($index)">
              <p class="button-text ">Cancel</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</span>
