<span ng-switch="!editingProject">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-10">
        <div class="searchbox">
          <img class="form-icon project-form-icon" src="<%= asset_path 'project-blue.png' %>" alt="" class="searchicon"></img>
          <span class="search-font margin-left" ng-switch-when="true">{{project.name}}</span>
          <input type="text" maxlength="25" class="searchfield search-font" placeholder="Project Name" autofocus="autofocus" ng-model="project.name" ng-switch-when="false" name="name">
        </div>
      </div> 

      <!-- DESKTOP BUTTONS -->
      <div class="col-md-2 col-sm-3 no-phone">
        <div class="options-button" ng-if="isAdmin && !project.approved" ng-click="approve()">
          <p class="button-text">Approve project</p>
        </div>
        <div class="options-button two-across-btn left-btn" ng-if="canEdit && !editingProject" ng-click="edit()">
          <p class="button-text">Edit</p>
        </div>
        <div class="options-button two-across-btn red-button" ng-if="canEdit && !editingProject" ng-click="destroy()">
          <p class="button-text">Delete</p>
        </div>
        <!-- Don't show save/cancel unless I'm currently editing the project -->
        <div class="options-button green-button two-across-btn left-btn" ng-if="canEdit && editingProject" ng-click="save()">
          <p class="button-text">Save</p>
        </div>
        <div class="options-button two-across-btn red-button" ng-if="canEdit && editingProject" ng-click="cancel()"><p class="button-text">Cancel</p>
        </div>
        <div contact project="project" class="options-button green-button tall-button" ng-if="!canEdit">
              <p class="button-text tall-button-text">Contact</p>
        </div>
      </div>

    </div>
    <!-- PHONE BUTTONS -->
    <div class="no-tablet no-desktop row">
      <!-- Only show these buttons if I have edit access -->
      <div class="options-button" ng-if="isAdmin && !project.approved" ng-click="approve()">
        <p class="button-text">Approve project</p>
      </div>
      <div class="col-xs-6">
        <div class="options-button mobile-margin-top" ng-if="canEdit && !editingProject" ng-click="edit()">
          <p class="button-text">Edit project</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="options-button red-button mobile-margin-top" ng-if="canEdit && !editingProject" ng-click="destroy()">
          <p class="button-text">Delete project</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div contact project="project" class="options-button green-button tall-button" ng-if="!canEdit">
              <p class="button-text tall-button-text">Contact</p>
        </div>
      </div>
      <!-- Don't show save/cancel unless I'm currently editing the project -->
      <div class="col-xs-6">
        <div class="options-button green-button mobile-margin-top" ng-if="canEdit && editingProject" ng-click="save()"><p class="button-text ">Save</p></div>
      </div>
      <div class="col-xs-6">
        <div class="options-button red-button mobile-margin-top" ng-if="canEdit && editingProject" ng-click="cancel()"><p class="button-text ">Cancel</p></div>
      </div>
    </div>

    <div class="row">
    
      <div class="col-sm-10">
        <div class="approved-warning" ng-if="project.id && !project.approved">
          <img src="<%= asset_path 'warning30.png' %>" alt="" class="searchicon"></img>
          <p class="body-text">To ensure quaity, your project is waiting for approval by one of the site administrators. We're already on it—you should receive an approval or feedback in the next 24 hours!</p>
        </div>
      </div>

      <div class="col-md-10 col-sm-9">
        <div ng-if="project.id">

          <p class="body-text grey no-space">Posted by
            <a class="link-blue grey" ng-repeat="leader in project.leaders" ui-sref="profile({netid: leader.netid})">{{leader.full_name}}</a>
            &nbsp;|  &nbsp;Created on {{project.created_at | date: "short"}}</p>
            <div star project="project" class='project-star'></div>
          
          </div>
      </div>
    </div>

    
    <div class="row">
        
      <div class="col-sm-6">
          <p class="title-small grey caps no-space lg-margin">OVERVIEW</p>
            <p class="body-text no-space inherit-no-space sm-margin med-line-space" ng-switch-when="true" ng-bind-html="project.descriptionHtml"></p>
            <textarea class="body-text padding full-width description-textarea no-space" placeholder="Give a brief overview of your project and describe the role you're looking to fill. You may want to discuss your motivation for working on the project, its current status, and what type of person would be best suited for the job." ng-model="project.overview" ng-switch-when="false" cols="30" rows="10" name="description"></textarea>
      </div>

      <!-- PAY -->
      <div class=" col-sm-6 col-xs-12 lg-margin pay-column pay-padding no-mobile-padding centered-column">
        <span class="title-small no-space pay-amt" ng-switch-when="true">${{project.pay_amount}}</span>
        <input class="title-small no-space pay-amt pay-input placeholder-title project-pay-placeholder" placeholder="Pay" type="number" ng-switch-when="false" ng-model="project.pay_amount" required>
        <span ng-switch-when="true">
          <p class="body-text grey caps no-space">{{project.pay_type}}</p>
        </span>
        <select class="form-control med-margin body-text grey caps" ng-switch-when="false" ng-options="name for name in projectPayTypes" ng-model="project.pay_type" required>
          <option value="" disabled selected><p class="grey">pay type</p></option>
        </select>
        <span ng-switch-when="true">
          <p class="body-text no-space grey caps thin" >({{project.timeframe}})</p>
        </span>
        <select class="form-control body-text grey caps sm-margin" ng-switch-when="false" ng-options="name for name in projectTimeframes" ng-model="project.timeframe" required>
          <option class='grey' value="" disabled selected>timeframe</option>
        </select>
      </div>


    </div>

      
    <div class="row">
      <div class="col-md-8 col-sm-10">
          <p class="title-small grey caps no-space lg-margin">THE PROJECT</p>
          <p class="body-text no-space inherit-no-space sm-margin med-line-space" ng-switch-when="true" ng-bind-html="project.descriptionHtml"></p>
          <textarea class="body-text padding full-width description-textarea no-space" placeholder="Give a brief overview of your project and describe the role you're looking to fill. You may want to discuss your motivation for working on the project, its current status, and what type of person would be best suited for the job." ng-model="project.description" ng-switch-when="false" cols="30" rows="10" name="description"></textarea>

          <p class="title-small grey caps no-space lg-margin">THE JOB</p>
          <p class="body-text no-space inherit-no-space sm-margin med-line-space" ng-switch-when="true" ng-bind-html="project.descriptionHtml"></p>
          <textarea class="body-text padding full-width description-textarea no-space" placeholder="Give a brief overview of your project and describe the role you're looking to fill. You may want to discuss your motivation for working on the project, its current status, and what type of person would be best suited for the job." ng-model="project.job_description" ng-switch-when="false" cols="30" rows="10" name="description"></textarea>


          <p class="title-small grey caps no-space lg-margin sm-margin-bottom">SKILLS</p>
            <span ng-switch-when="true">
                <span class="body-text" ng-repeat="skill in project.skills.slice(0,-1)" >
                  {{skill.name}}, 
                </span>
                <span class='body-text'>{{project.skills[project.skills.length-1].name}}</span>
              <!-- </ul> -->
            </span>

            <!-- A multiple-select jQuery chosen element that shows the name
            of each skill and binds the selected elements to the project's skills array -->
            <!-- Add the ng-switch-when to the span because it doesn't work with chosen properly -->
            <span ng-switch-when="false" >
              <select class="body-text chosen" multiple chosen ng-options="skill.name for skill in allSkills track by skill.id" ng-model="project.skills" style="width: 100%;" data-placeholder="Choose some skills required for this project..."></select>
            </span>
        </div>
      </div>

      <!-- only show if project is expired -->
      <div ng-if="project.is_expired">
        <p class="title-small expired-text col-xs-10">THIS PROJECT HAS EXPIRED</p>
        <div class="options-button renew-button tall-button mobile-margin-top orange-button" ng-click="renew()">
          <p class="button-text renew-button-text tall-button-text extra-breakpoint">Renew</p>
        </div>
      </div>

      <form ng-class='{"opening-faded": opening.expire_notified}' ng-submit="save($index)">
        <div class="row">

          <p ng-if="canEdit" class="body-text thin grey bottom-left">Expires on {{project.expires_on| date:"mediumDate"}}</p>

        </div>

        

      </form>
    </div>
  </div>
</span>
