<span ng-switch="!editingProject">
  <div class="project-heading">
    <p ng-switch-when="true">{{project.name}}</p>
    <input type="text" ng-model="project.name" ng-switch-when="false" name="name">
  </div>

  <!-- Only show these buttons if I have edit access -->
  <div class="project-buttons-wrapper">
    <div class="options-button edit-button" ng-if="canEdit" ng-click="edit()">
      <p ng-if="!editingProject">Edit project</p>
      <p class="editing" ng-if="editingProject">Editing</p>
    </div>
    <!-- Don't show save/cancel unless I'm currently editing the project -->
    <div class="options-button save" ng-if="canEdit && editingProject" ng-click="save()">
      <p>Save</p>
    </div>
    <div class="options-button cancel" ng-if="canEdit && editingProject" ng-click="cancel()">
      <p>Cancel</p>
    </div>
  </div>

  <div class="project-description-wrapper">
    <div class="project-info">
      <p class="author">CREATED BY Stan Eisenstat{{project.owner}} ON 9/1/1992{{project.postedDate}}</p>
      <p class="views">{{project.numViews}} 200 views</p>
    </div>
    <div class="project-description">
      <p ng-switch-when="true">{{project.description}}</p>
      <textarea ng-model="project.description" ng-switch-when="false" cols="30" rows="10"></textarea>
    </div>
  </div>
</span>

<div class="project-openings-wrapper">
  <h3 class="openings-header">Openings</h3>
  <!-- Show add openings link only if not already editing a new project -->
  <!-- If the last opening doesn't have an ID, we're editing a new project -->

  <div class="options-button add-opening" ng-click="addOpening()" ng-if="canEdit && project.openings[project.openings.length-1].id">
    <p>Add opening</p>
  </div>

  <div class="project-opening" ng-repeat="opening in project.openings">
    <form ng-submit="save($index)">
      <!-- A switch on the edit mode for this opening. True => not-editing -->
      <span ng-switch="!editingOpenings[$index]">
        
        <!-- Name -->
        <div class="col-1">
          <div>
            <h1 class="opening-name" ng-switch-when="true">{{opening.name}}</h1>
            <input class="opening-name" type="text" ng-model="opening.name" ng-switch-when="false" required></input>
          </div>

        <!-- Control buttons; show only if has edit access -->
        <div class="edit-button" ng-if="canEdit && !editingOpenings[$index]" ng-click="edit($index)">
          <p>Edit opening</p>
        </div>
        <input type="submit" value="Save" ng-if="canEdit && editingOpenings[$index]"></input>
        <button ng-if="canEdit && editingOpenings[$index]" ng-click="cancel($index)">Cancel</button>

        <!-- Description -->
          <div>
            <p ng-switch-when="true">{{opening.description}}</p>
            <textarea cols="30" rows="10" ng-switch-when="false" ng-model="opening.description" required></textarea>
          </div>
        </div>

        <div class="vert-divider"></div>

        <!-- Skills -->
        <div class="col-2">
          <p>SKILLS</p>
          <div ng-switch-when="true">
            <ul class="skill-list">
              <li ng-repeat="skill in opening.skills">{{skill.name}}</li>
            </ul>
          </div>


          <!-- A multiple-select jQuery chosen element that shows the name
          of each skill and binds the selected elements to the opening's skills array -->
          <select multiple chosen ng-switch-when="false" ng-options="skill.name for skill in allSkills track by skill.id" ng-model="opening.skills" data-placeholder="Choose some skills..."></select>
        </div>

        <div class="vert-divider"></div>

        <!-- Pay amount, type, and timeframe -->
        <div class="col-3">
          <span class="pay" ng-switch-when="true">${{opening.pay_amount}}</span>
          <input class="pay" type="number" ng-switch-when="false" ng-model="opening.pay_amount" required></input>
          <span class="pay-type" ng-switch-when="true">{{opening.pay_type}}</span>
          <select ng-switch-when="false" ng-options="name for name in openingPayTypes" ng-model="opening.pay_type" required></select>
          during <!-- <<< There is a "during" here -->
          <span ng-switch-when="true">{{opening.timeframe}}</span>
          <select ng-switch-when="false" ng-options="name for name in openingTimeframes" ng-model="opening.timeframe" required></select>
        </div>

      </span>
    </form>
  </div>
</div>