


<div class="container-fluid">
  <div class="row starred-header">

    <div class="col-sm-10">
    <div class="searchbox">
      <img class="form-icon star-form-icon" src="/assets/starred.png" alt="" class="searchicon"></img>
      <span class="search-font margin-left">Your Starred Openings</span>
    </div>
  </div>
    <div class="col-sm-2 col-xs-12">
      <!-- Options for tablet and desktop (i.e. not phone) -->
      <div class="options-button tall-button orange-button mobile-margin-top" ng-click="searchParams.options=!searchParams.options">
        <p class="button-text tall-button-text extra-breakpoint">Unstar All</p>
      </div>
    </div>
  </div>

<div class="opening" ng-init="skillLimit=4" ng-repeat="opening in allOpenings">
  <div star opening-id="{{opening.id}}" class="star"></div>
  <form ng-submit="save($index)">

    <!-- A switch on the edit mode for this opening. True => not-editing -->

    <div class="row">

      <!-- TITLE & DESCRIPTION -->
      <div class="col-xs-6">
        <p class="title-small blue no-space">{{opening.name}}</p>
        <div>
          <p class="body-text margin-top">{{opening.description}}</p>
        </div>
      </div>

      <div class="col-sm-2 col-xs-3 no-mobile-padding has-borders">
        <p class="body-text grey caps no-space">SKILLS</p>
          <ul ng-click="skillLimit==4 ? skillLimit = 20 : skillLimit = 4" class="list">
            <li class="body-text" ng-repeat="skill in opening.skills | limitTo:skillLimit" >
              {{skill.name}}
            </li>
            <li class="body-text grey" ng-if="opening.skills.length > 4 && skillLimit == 4">
              Show all...
            </li>
            <li class="body-text grey" ng-if="skillLimit == 20">Show fewer...</li>
          </ul>

      </div>

       <div class="col-sm-2 col-xs-3 pay-column no-mobile-padding">
        <span class="title-small no-space pay-amt">${{opening.pay_amount}}</span>
        <p class="body-text grey caps no-space">{{opening.pay_type}}</p>
        <p class="body-text grey caps thin no-space" >({{opening.timeframe}})</p>
      </div>

      
      <!-- Control buttons; show only if has edit access -->
      
      <div class="margin-top col-xs-2 no-phone">
        <div class="options-button green-button tall-button tall-mobile-button contact-button"><p class="button-text tall-button-text tall-mobile-text">Contact </p></div>
      </div>

      <div class="margin-top col-xs-12 no-desktop no-tablet">
        
        <div class="options-button green-button tall-button"><p class="button-text tall-button-text">Contact </p></div>

      </div>



      </div>
    </div>









  </div>
</div>