<style>
  .star.starred {
    color: red;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      Ng-repeat full-width openings
      <div ng-repeat="opening in allOpenings">
        <div star opening-id="{{opening.id}}" class="star">star</div>
        <p class="bold">{{opening.name}} ({{opening.id}})</p>
      </div>
    </div>
  </div>
</div>