<!doctype html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Please approve this project</h1>
  <p>
    Go to the admin console and approve the project "<%= @project.name %>" (id: <%= @project.id %>).
  </p>
  <p>
    Thanks! :)
  </p>
</body>
</html>
