.content{
	@include mobile {
		width:100%;
		margin-top:55px;
	}
	@include phone{
		margin-top: 30px;
	}
}



////////////////
/* SEARCH BAR */
////////////////

.main-search {
	font-size: 60px;

	@include small-mobile {
		font-size: 20px;
	}
}

.search{
	margin-top:20px;
	//background-color:white;
	height: 85px;

	@include small-mobile {
		height: 35px;
	}
}

.search form{
	width: 80%;
	float: left;
	margin:0px;
	@include phone {
		width: 100%;
	}
}

.searchbox{
	height: 85px;
	border: 1px solid $lighter-grey;
	background-color: white;
	@include border-radius(2px);

	img{
		background-color:white;
		width: 80px;
		height: 80px;
		padding-left:10px;
		padding-top:8px;
		float: left;
	}

	@include small-mobile {
		height: 35px;
		width: 100%;

		img {
			height: 30px;
			width: 30px;
			padding-left: 4px;
			padding-top: 4px;
		}
	}
}

.searchfield{
	float: left;
	height:81px;
	border:none;
	width: calc(100% - 95px);
	font-family:$sans;
	font-weight: 100 !important;
	outline:none;
	padding-left:20px;

	@include small-mobile {
		height: 30px;
		width: calc(100% - 50px);
		padding-left:10px;
		padding-top:5px;
	}
}


/////////////////////
/* SEARCH RESULTS */
/////////////////////

.welcome{
	width: 500px;
	margin-left:25%;
	margin-top:20%;
	float: left;
	clear: none;
	color:$light-grey;
	h1, h2{
		font-family: $serif;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left:15px;
	}
	h1{
		font-size: 20px;
		margin-left:20px;
	}
	h2{ 
		font-size: 45px;
		line-height: 43px;
		margin-bottom: 20px;
	}
	p{
		font-family:$sans;
		font-weight: 100;
		font-size:20px;
		margin-top: 0px;
		//margin-right: 35px;
		padding-left:5px;
		padding-top:10px;
		border-top:1px dotted $light-grey;

	}
}


#results{
	margin-left:0px;
	width:80%;
	margin-right:0px;
	float: left;
	p{
		font-family:$sans;
		font-size: 14px;

		@include small-mobile {
			font-size: 12px;
			line-height: 15px;
		}
	}

	@include small-mobile {
		width: 100%;
	}
}

.no-openings{
	font-family:$serif;
	width:80%;
	font-size:30px;
	clear:both;
	margin-top:10px;
	margin-left:0px;
	margin-bottom: 10px;
	color:$lighter-grey;

	@include mobile{
		font-size: 12px;
		line-height: 12px;
		margin-left: 0px;
	}
}

.opening{
	width: 100%;
	min-height:160px;
	border: 1px $lighter-grey solid;
	background-color:white;
	opacity:.8;
	margin-bottom: 20px;
	overflow:auto;
	position:relative;
	transition: .2s;
	cursor:pointer;
	@include border-radius(2px);
	&:hover{
		border: 1px black solid;
	}

	@include mobile {
		min-height:140px;
	}
	@include phone {
		min-height: 70px;
		margin-bottom: 10px;
	}
}

.opening-name{
	font-family: $serif;
	font-weight:400;
	color:$yale-blue;
	font-size: 28px;
	margin-bottom:0px;
	line-height:30px;
	margin-top:14px;

	@include mobile {
		font-size: 22px;
	}

	@include phone {
		font-size: 14px;
		margin-top: 5px;
		line-height: 16px;
	}
}

.opening-subheader{
	text-transform:uppercase;
	font-family:$sans;
	color:$light-grey;
	font-size:14px;
	letter-spacing:0.5px;
	font-weight:400;
	margin-top:0px;
	margin-left:2px;
	margin-bottom:8px;

	@include small-mobile {
		font-size: 12px;
		line-height: 15px;
	}
}

.opening-description{
	font-family:$sans;
	font-size:14px;
	margin-top:0px;
	margin-bottom:30px;

	@include small-mobile {
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 20px;
	}

	@include phone {
		font-size: 8px;
		line-height:9px;
		margin-bottom: 16px;
	}
}

.col-1, .col-2, .col-3, .vert-divider{
	float: left;
}

.col-1{
	padding-left:2%;
	width:60%;
}

.vert-divider{
	width: 1px;
	margin-top: 15px;
	height: 130px;
	margin-left:1%;
	border-left: 1px solid $lighter-grey;

	@include mobile {
		margin-top: 10px;
		height: 110px;
	}

	@include phone {
		display:none;
		height: 0px;
	}
}

.col-2{
	width: 18%;
	padding-left: 2%;
	font-family:$sans;
}

.col-2 p{
	color:$light-grey;
	margin-bottom:5px;
	letter-spacing:1px;

	@include small-mobile {
		margin-top: 15px;
		font-size: 12px;
		line-height: 14px;
	}

	@include phone {
		font-size: 8px;
		line-height: 9px;
		margin-top: 8px;
	}

}

.col-2 ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
	font-size:14px;

	@include small-mobile {
		font-size: 12px;
		line-height: 15px;
	}
	@include phone {
		font-size: 8px;
		line-height:9px;
		margin-bottom:5px;
	}
}

.more{
	color:$light-grey;
	cursor:pointer;
	&:hover{
		text-decoration: underline;
	}
}

.less{
	margin-bottom:10px;
}

.col-3{
	width:18%;
	text-align:center;
	font-family:$sans;
	vertical-align: middle;
	float: right;
	margin-right:10px;

	@include small-mobile{
		margin-right: 0px;
	}

}

.pay{
	font-family:$sans;
	font-size: 30px;
	line-height:24px;
	margin-top:40px;
	margin-bottom:4px;

	@include small-mobile{
		font-size: 18px;
		line-height: 18px;
	}

	@include phone {
		font-size: 15px;
		line-height: 15px;
		margin-top: 20px;
	}

}

.pay-type, .time{
	color:$light-grey;
	font-size:15px;
	letter-spacing:1.2px;
	margin:0px;
	margin-bottom:0px;

	@include small-mobile {
		//margin-top: 0px;
		font-size: 12px;
		line-height: 14px;
	}

	@include phone {
		font-size: 8px;
		line-height:9px;
	}
}

.time{
	font-weight:100;
	font-size:14px;

	@include small-mobile {
		font-size: 12px;
		line-height: 15px;
	}
	@include phone {
		font-size: 8px;
		line-height:9px;
	}
}

.pay-type{
	text-transform:uppercase;
}

.posted-by{
	font-family:$sans;
	color: $light-grey;
	font-size:12px;
	letter-spacing:.5px;
	margin-bottom:0px;
	position: absolute;
	bottom: 4px;
	left: 15px;

	@include small-mobile {
		font-size: 8px;
		line-height: 8px;
		bottom: 4px;
		left: 6px;
		letter-spacing: 0px;
	}

	@include phone {
		font-size: 5px;
		line-height: 5px;
		bottom: 2px;
		left: 6px;
	}
}

.star{
	position:absolute;
	top: 5px;
	right: 10px;
}



///////////////////
/* SEARCH OPTIONS */
///////////////////

.more-options{
	
	border:1px solid $light-grey;
	background-color:white;
	opacity:.8;
	display:none;
	width:18%;
	height:500px;
	float: right;
	margin-top:52px;
	@include border-radius(2px);

	h1{
		font-family: $sans;
		color: $light-grey;
		font-size: 14px;
		letter-spacing: .5px;
		margin-left:5px;
	}

	@include small-mobile {
		width: 100%;
		float: none;
		position: relative;
		margin-top: 0px;
		height: 50px;

		h1 {
			font-size: 8px;
		}
	}
}

.option-bubble{
	@include border-radius(2px);
	//width:80%;
	//height:70px;
	margin:auto;

}

.option-block {
	@include small-mobile {
		width: 30%;
		margin-right: 3%;
		float: left;

		p {
			float: left;
			font-size: 8px;
			line-height: 10px;
			margin-bottom:0px;
			margin-top: 0px;
		}

		h1{
			line-height: 10px;
			margin-bottom: 0px;

		}
	}
}
