
/* SEARCH BAR */
.search-font {
	font-size: 60px;
	font-family: $sans;
	font-weight: 100 !important;
	line-height:80px;

	@media only screen and (max-width: 1200px) {
		font-size: 50px;
	} 

	@include mobile {
		font-size: 20px;
		line-height: 32px;
	}
}

.search {
	margin-top:20px;
	margin-bottom:10px;
	height: 85px;

	@include mobile {
		height: 35px;
	}
}

.search form {
	float: left;
	margin:0px;

}

.form-icon {
		background-color:white;
		width: 80px;
		height: 80px;
		padding-left:10px;
		padding-top:8px;
		float: left;

		@include mobile {
			height: 30px;
			width: 30px;
			padding-left: 4px;
			padding-top: 4px;
	}
}

.searchbox {
	height: 85px;
	border: 1px solid $lighter-grey;
	background-color: white;
	@include border-radius(2px);
	&.no-height {
		height: auto;
		min-height:85px;
		@include mobile {
			min-height: 35px;
		}
	}
	@include mobile {
		height: 35px;

		// img {
		// 	height: 30px;
		// 	width: 30px;
		// 	padding-left: 4px;
		// 	padding-top: 4px;
		// }
	}
}

.searchfield {
	float: left;
	height:81px;
	border:none;
	width: calc(100% - 95px);
	outline:none;
	padding-left:20px;

	@include mobile {
		height: 30px;
		width: calc(100% - 50px);
		padding-top:0px;
		padding-left: 5px;
	}
}



/* SEARCH RESULTS */

.opening {
	min-height:140px;
	padding: 15px;
	border: 1px $lighter-grey solid;
	background-color:white;
	opacity:.8;
	margin-bottom: 20px;
	//overflow:auto;
	position:relative;
	transition: .2s;
	cursor:pointer;
	@include border-radius(2px);
	&:hover {
		border: 1px $blue solid;
	}

	@include phone {
		min-height: 50px;
		margin-bottom: 10px;
		padding: 3px;
		padding-top: 5px;
	}
}




.pay-column {
	text-align: center;
	padding-top: 23px;
	@include phone {
		//text-align: left;
		padding-right: 10px;
		padding-top: 15px;
	}
}

.pay-amt {
	font-size: 40px;
	color: $green;
	line-height: 40px;
	@media only screen and (max-width: 1200px) {
		font-size: 30px;
		line-height: 30px;
	} 

	@include tablet {
		font-size: 22px;
		line-height: 22px;
	}
	@include phone {
		font-size: 13px;
		line-height: 13px;
	}
}

.user {
	min-height: 40px !important;
}

.user .has-borders {
	@include mobile {
		min-height: 20px;
	}
}

.contact-button {
	margin-top: 20px;
	@include mobile {
		margin-top: 20px;
		margin-bottom: 0px;
	}
}


/* SEARCH OPTIONS */
.more-options {
	margin-top: 52px;
	@include mobile {
		margin-top: 20px;
	}
	@include phone {
		margin-top: 10px;
	}
}


.option-block {
	border:1px solid $lighter-grey;
	background-color: white;
	@include border-radius(2px);
	margin-bottom: 20px;

	h1 {
		margin-left: 5px;
	}
}

.filter-btn {
	background-color: $lighter-grey;
	border-top: 1px solid $light-grey;
	border-bottom: .5px solid $light-grey;
	border-right:none;
	border-left:none;
	font-color: white;
	&:hover {
		opacity:(.8);
		background-color: $light-grey;
		border-top: 1px solid $light-grey;
	}
}

.show {
	.btn:active, .btn.active, .btn.active:hover {
		background-color:$blue;
		border-top: 1px solid $light-grey;
	}
}

.sort-by {
	.btn:active, .btn.active, .btn.active:hover {
		background-color:$orange;
		border-top: 1px solid $light-grey;
	}
}

.filter-on {
	.btn:active, .btn.active, .btn.active:hover {
		background-color:$green;
		border-top: 1px solid $light-grey;
	}
}
