
/* Global Variables */
$min-width: 1160px;

/* Colors */
$brown: #513E37;
$blue: #0081BB;
$dark-blue: #004D68;
$gallery-blue: #21b8e7;
$red: #802025;
$light-red: #B10000;
$green: #00b433;
$dark-green: #006f29;
$grey: #D8D8D8;
$light-grey: #989898;
$lighter-grey: #c0c0c0;
$purple: #8581A4;
$tan: #aa8255;
$max-tan: #827B5F;
$nav-brown: #513e37;
$nav-darkbrown: darken(#513e37, 7%);
$pumpkin-yellow: #b09a00;
$yale-blue: #0f4d92;

/* Fonts */
$body: Proxima, "HelveticaNeue", sans-serif;
$font-size: 16px;
$sans2: "Arimo", Arial, sans-serif; 
$sans: "Roboto", Arial, sans-serif;
$serif4: "Inconsolata", Times, serif;
$serif3: "Arvo", Times, serif;
$serif2: "Roboto Slab", Times, serif;
$serif: "Glegoo", Times, serif;

@mixin helvetica-light {
  font-family: "HelveticaNeue-Thin", "HelveticaNeue", $body;
  letter-spacing: 1px;
}

@mixin source-font {
  font-family: "Source Code Pro", Arial, sans-serif;
  font-weight: 300;
}
/* Layouts */
$small-min-width: 780px;
$small-container-width: 700px;
$large-min-width: 1060px;
$large-container-width: 800px;

// Widths are upper bounds
$small-phone-width: 320px;
$phone-width: 480px;
$small-mobile-width: 767px; // Bootstrap collapse width
$mobile-width: 1024px; // iPad landscape, upper bound of what we consider "mobile"
$small-desktop-width: 1624px;

// "small-phone": 0 - 320
// "phone": 0 - 480
// "tablet": 481 - 1023
// "mobile": 0 - 1024
// "desktop": 1025 ->
// "small desktop": 1025 - 1623
// "huge destkop": 1624 ->

// To cover all sizes:
// mobile + desktop
// phone + tablet = mobile
// small-mobile + large-mobile = mobile
// small-desktop + large-desktop = desktop

// Usually, use:
// large-desktop (default) + small-desktop + large-mobile + small-mobile + phone 
// Or: default + small-desktop + tablet + phone

@mixin small-phone {
  @media only screen and (max-width: #{$small-phone-width}) { @content; }
}
@mixin phone {
  @media only screen and (max-width: #{$phone-width}) { @content; }
}
@mixin tablet {
  @media only screen and (min-width: #{$phone-width + 1}) and 
  (max-width: #{$mobile-width}) { @content; }
}
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) { @content; }
}
@mixin small-mobile {
  @media only screen and (max-width: #{$small-mobile-width}) { @content; }
}
@mixin large-mobile {
  @media only screen and (min-width: #{$small-mobile-width + 1}) and 
  (max-width: #{$mobile-width}){ @content; }
}
@mixin desktop {
  @media only screen and (min-width: #{$mobile-width + 1}) { @content; }
}
@mixin small-desktop {
  @media only screen and (min-width: #{$mobile-width + 1}) and 
  (max-width: #{$small-desktop-width}) { @content; }
}
@mixin large-desktop {
  @media only screen and (min-width: #{$small-desktop-width + 1}) { @content; }
}
@mixin screen($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

@mixin opacity($o) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$o})";
  -moz-opacity: $o;
  -khtml-opacity: $o;
  opacity: $o;
  // filter: alpha(opacity=$o);
}

.transparent { @include opacity(0); }
.hide { display: none !important; }
.big { font-size: 120%; }
.full-width { height:100%; width:100%; }
//.bold { font-weight: bold; }
.italic { font-style: italic; }
.inline-block { display: inline-block !important; }
.pull-right { float: right; }
.pull-left { float: left; }
.centered { text-align: center; }
.sans { font-family: $sans }
.align-top { vertical-align: top; }
.clear-both { clear:both; }

// Colors
.red { color: $red; }
.dark-blue { color: $dark-blue; }
.light-red { color: $light-red; }
.grey { color: $grey; }

.gainlayout {
  zoom: 1; // IE hasLayout hack (http://www.satzansatz.de/cssd/onhavinglayout.html)
}
/* Can't @extend .hide from @media directive :( */
.no-phone {
  @include phone { display: none !important; }
}
.no-tablet {
  @include tablet { display: none !important; }
}
.no-small-mobile {
  @include small-mobile { display: none !important; }
}
.no-mobile {
  @include mobile { display: none !important; }
}
.no-desktop {
  @include desktop { display: none !important; }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.clearfix{
  clear:both;
}

