
.user-pic {
	width: 100%;
	padding: 0 10px;
	@include mobile {
		padding: 0px;
	}
	@include phone {

	}
}

.v-align {
	float:none;
	display:inline-block;
	vertical-align:bottom;
}

.chosen-box {
	width: 130px;

	@include mobile {
		width: 80%;
		font-size: 10px;
	}
}

