	
.profile-heading {
	margin-top: 30px;
	font-family: $serif;
	font-size: 40px;
	margin-left:3%;

	img{
		width: 15%; 
		height: auto;
		display:inline-block;
		vertical-align: bottom;
	}
	span, input {
		width: auto;
	}
	input {
		max-width: 70%;
		height: 60px;
		border:none;
		line-height:45px;
	}

	input[type=text]{
		padding-top: 0px;
	}

	.user-info {
		display: inline-block;
		vertical-align: top;
		margin-top: 80px;
		margin-left: 4%;
		max-width: 60%;
		height:70px;
	}
	.user-name {
		display: block;
		line-height: 45px;
		max-width: 100%;

	}
	.user-college {
		display: block;
		text-transform:uppercase;
		font-family: $sans;
		color:$light-grey;
		font-size:18px;
		height: 25px;
		margin:0px;
		p {
			display: inline-block;
			margin:0px;

		}
	}
}

.top-button {
	margin-top: 30px;
}

.profile-bio{
	margin-top:15px;
	p {
		font-size: 16px;
		margin: 0px;
	}
}

.profile-bio, .profile-projects {
	margin-left: 3%;
	
	h1 {
		color: $light-grey;
		text-transform: uppercase;
		letter-spacing: .5px;
		font-weight: 400;
		font-size:16px;
		margin:0px;
		margin-top: 20px;
	}
}

.profile-about {
	display: inline-block;
	width: 65%;
	textarea {
		width: 90%;
		border:none;
	}
}

.skills-contact{
	float: right;
	width:20%;
}

.profile-skills {
	display: inline-block;
	width: 100%;

	ul {
		list-style-type: none;
		display:inline-block;
		padding-left:0px;
		margin-top: 5px;
		width: 100%;
	}
}

.contact {
	display:inline-block;
	width: 100%;
	p {
		disiplay: inline;
		font-size:14px;
	}
}



.profile-projects{
	h1{
		margin-bottom:20px;
		margin-top:50px;
	}
	p{
		margin-left:10px;
	}
	.opening{
		width:75%;
		margin-left:0px;
		display:inline-block;
		min-height:160px;
	}
	.opening-name{
		margin-bottom:5px;
	}

	.posted-by{
		left: 2px;
	}

	.stars{
		width:100%;
		clear:both;
		margin-bottom:50px;
	}
}