
.user-pic {
	width: 100%;
	padding: 0 10px;
	@include mobile {
		padding: 0px;
	}
	@include phone {

	}
}

.v-align {
	float:none;
	display:inline-block;
	vertical-align:bottom;
}

.chosen-box {
	width: 100%;

	@include mobile {
		width: 80%;
		font-size: 10px;
	}
}

/* Checkbox */

.regular-checkbox {
	padding-right: 5px;
	margin-top:10px;
	margin-right: 10px;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;

	@include mobile {
		margin-top: 8px;
	}
	@include phone {
		margin-top: 0px;
	}
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked:after {
	content: '\2715';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

input:focus {
	outline: none;
}
