

.project-title {

	line-height: 40px;
	margin-top:21px;
	margin-left:87px;
}

.project-form-icon {
	padding-left:2px;
	width: 70px;
	height: 76px;

	@include mobile {
		height: 30px;
		width: 27px;
	}
}

.project-description {
	height: 100px;
}

.save-button {
	margin-bottom: 5px;
}

.description-textarea {
	@include phone {
		margin-top: 5px;
	}
}

.pay-input {
	width: 75%;
}

.project-opening-buttons {
	margin-top: 20px;
}

.add-opening {
	margin-top: 25px;
	@include mobile {
		margin-top: 5px;
	}
}

