
.navlink-group {
	margin-top: 0px;

}

.logo {
	width: 300px;
	margin-left:-25px;
	height: auto;
}
.navlink {

	display:inline-block;
	color: #ffffff;
	margin-left: -10px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 60px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;

	.navlink:hover {
		text-decoration:none;
		color:$blue;
		background-color: white;
		@include mobile {
			background-color: none;
		}
	}

	@include mobile {
		float: left;
		margin-top: 20px;
		margin-left: 10px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		border-top-right-radius:2px;
		border-top-left-radius:2px;
	}
}

#current-tab {
	background-image: url(/assets/crossword.png);
  	background-repeat:repeat;
  	color:$blue;
}

.greeting-text {
	@include mobile {
		display:none;
	}
}



