
.navlink-group {
	margin-top: 0px;

}

.logo-wrap {
	//height: 250px;
	@include tablet {
		height: 50px;
		width: 80px;
		float: right;
	}
	@include phone {
		height: 45px;
		float: right;
		width: 35px;
	}
}

.logo {
	display: inline-block;
	background-image: url(asset-path("logo.png"));
	background-repeat:no-repeat;
	background-size: 180px 90px;
	height: 200px;
	width: 100%;
	margin-top: 10px;
	padding-left:15px;

	@include tablet {
		float: right;
		background-size: 100px 50px;
		width: 100px;
		height: 50px;
		margin-top: 0px;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	@media only screen and (max-width: 600px){
		background-image: url(asset-path("logo-small.png"));
		background-size: 49px 45px;
		width: 45px;
	}

	@include phone {
		float: right;
		height: 40px;
		margin-top: 5px;
		margin-right: -5px;
		background-size: 35px 30px;
		width: 35px
	}
}

.sidebar-text {
	top: 300px;
	@include mobile {
		top: 0px;
	}
}

.navlink {

	display:inline-block;
	color: #ffffff;
	margin-left: -10px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 60px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;

	.navlink:hover {
		text-decoration:none;
		color:$blue;
		background-color: white;
		@include mobile {
			background-color: none;
		}
	}

	@include mobile {
		float: left;
		margin-top: 10px;
		margin-left: 5px;
		margin-bottom: 0px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 0px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
		border-top-right-radius:2px;
		border-top-left-radius:2px;
	}

	@include phone {
		line-height:30px;
		margin-top: 10px;
	}
}

#current-tab {
	background-image: url(asset-path("crossword.png"));
  	background-repeat:repeat;
  	color:$blue;
}

.greeting-text {
	@include mobile {
		display:none;
	}
}

.welcome-header {
  font-family: $serif;
  font-size: 18px;
  color: white;
}

.sidebar-footer{
	margin-left: 5px;
	margin-top:30px;
	@include mobile {
		display: none;
	}
}

