* {
  @include box-sizing(border-box);
}

/* Overarching styles */
html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0; padding: 0;
  font: 16px/22px normal $sans;
  background-image: url(/assets/crossword.png);
  background-repeat:repeat;
}

a, .a-like {
  text-decoration: none;
  display: inline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }

  @include transition(all 0.2s);
  &.no-effect { // Make links look regular
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.flash {
  display: none;
  position: fixed;
  top: 50px; left: 25%;
  width: 50%;
  z-index: 10;
  border: 1pt solid #ddd;
  padding: 15px;
  &.success {
    background-color: #c3fbcb;
  }
  &.error {
    background-color: #fba1a2;
  }
  &.visible {
    display: block;
  }
  .close {
    float: right;
    color: #555;
    cursor: pointer;
    font-size: 20px;
  }
}

.star.starred {
  font-weight: bold;
}

// BUTTON STYLES

.options-button{
  float: right;
  clear: right;
  width: 18%;
  height: 40px;
  margin-left:6px;
  margin-bottom: 4px;
  text-align: center;
  border: 1px $lighter-grey solid;
  background-color: white;
  cursor:pointer;
  @include border-radius(2px);
  transition: .1s;

  .q-mark {
    display: none;
  }

  @include small-mobile {
    float: left;
    width: 5%;
    height:35px;
    margin-left: 1%;

    .non-q-mark {
      display:none;
    }
    .q-mark{
      display:block;
    }
  }

  @include phone {
    width: 49%;
    height: 15px;
    float: left;
    margin-top: 6px; 
    margin-left:0px;
    margin-right: 2%;
  }
}

#right-button{
  @include small-mobile {
    margin-right: 0%;
    width: 13%
  }
  @include phone {
    width: 49%;
  }
}

.options-button p{
  font-family: $serif;
  letter-spacing: .8px;
  font-size: 18px;
  color:$light-grey;
  margin:0;
  padding:0;
  padding-top:8px;
  @include small-mobile {
    font-size:11px;
    letter-spacing:0px;
    line-height: 11px;
    padding-top:10px;
    vertical-align: center;
  }

  @include phone {
    padding-top: 2px;
    font-size: 8px;
    line-height: 8px;
  }

}

.options-button:hover{
  background-color: $yale-blue;
  border: 1px $yale-blue solid;
  opacity:(.8);
  p {
    color: white;
  } 
}

.save{
  &:hover{
    background-color:$green;
    border: 1px solid $green;
  }
}

.cancel{
  &:hover{
    background-color:$red;
    border:1px solid $red;
  }
}
