* {
  @include box-sizing(border-box);
}

/* Overarching styles */
html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0; padding: 0;
  font-family:$sans;
}

a, .a-like {
  text-decoration: none;
  //color: lighten($blue, 15%);
  display: inline;
  cursor: pointer;
  &:hover {
    //color: lighten($blue, 8%);
    text-decoration: none;
  }

  @include transition(all 0.2s);
  &.no-effect { // Make links look regular
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
