* {
  @include box-sizing(border-box);
}

/* Overarching styles */
html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0; padding: 0;
  font: 16px/22px normal $sans;
  background-image: url(/assets/crossword.png);
  background-repeat: repeat;
}

$sidebar-width: 250px;
$sidebar-height-mobile: 65px;
$sidebar-height-phone: 50px;
#content {
  width: 100%;
  padding: 20px 10px;
  padding-right: $sidebar-width;
  @include mobile {
    padding-right: 10px;
    padding-top: $sidebar-height-mobile + 20px;
  }
  @include phone {
    padding:0px;
    padding-top: $sidebar-height-phone + 15px;
  }
}

#sidebar {
  position: fixed;
  top: 0; right: 0;
  width: $sidebar-width;
  height: 100%;
  background-color: $green;
  padding: 10px;
  overflow: scroll;
  @include mobile {
    position: fixed;
    left: 0;
    width: 100%;
    height: $sidebar-height-mobile;
  }
  @include phone {
    height: $sidebar-height-phone;
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 0px;
}

.centered-column {
  text-align: center;
}

/* BUTTON STYLES */

.options-button {
  border: 1px $lighter-grey solid;
  background-color: white;
  text-align: center;
  cursor:pointer;
  margin-bottom: 6px;
  @include border-radius(2px);
  transition: .1s;

  @include mobile {
    border: 1px solid $blue;
    background-color: $blue;
  }
}

.options-button:hover {
  background-color: $blue;
  border: 1px $blue solid;
  p, value {
    color: white;
  } 
}


.tall-mobile-button {
  @include mobile {
    height: 60px;
    margin-top: 30px;
  }
}

.red-button {

  &:hover {
    background-color: $red;
    border: 1px solid $red;
  }
  @include mobile {
    background-color: $red;
    border: 1px solid $red;
  }
}

.green-button {

  &:hover {
    background-color: $green;
    border: 1px solid $green;
  }
  @include mobile {
    background-color: $green;
    border: 1px solid $green;
  }

}

.orange-button {

  &:hover {
    background-color: $orange;
    border: 1px solid $orange;
  }
  @include mobile {
    background-color: $orange;
    border: 1px solid $orange;
  }

}

/* TEXT STYLES */
.title {
  font-family: $serif;
  font-size: 45px;
  line-height: 50px;

  @include mobile {
    font-size: 24px;
    line-height: 30px;
  }

  @include phone {
    font-size: 14px;
    line-height: 14px;
  }

}

.title-small {
  font-family: $serif;
  font-size: 30px;

  @include tablet {
    font-size: 20px;
  }

  @include phone {
    font-size: 12px;
    line-height: 12px;
  }
}

.title-smallest {
  font-family: $serif;
  font-size: 24px;
}

.body-text{
  font-family: $sans;
  font-size: 15px;
  line-height: 19px;

  @include tablet {
    font-size: 12px;
    line-height: 14px;
  }

  @include phone {
    font-size: 8px; 
    line-height: 9px;
  }
}

.serif {
  font-family: $serif;
}

.no-overflow {
  overflow: x-wrap;
}

.about-text {
  font-family: $sans;
  font-size: 18px;
  line-height: 28px;
}

.about-header {
  @include mobile {
    font-size: 30px !important; 
  }
  @include phone {
    font-size: 20px !important;
  }
}

.button-text {
  font-family: $serif;
  letter-spacing: .8px;
  font-size: 15px;
  line-height: 38px;
  color:$light-grey;
  margin:auto;

  @media only screen and (max-width: 1200px) {
    font-size: 12px;
  } 

  @include mobile {
    font-size:10px;
    letter-spacing:0px;
    line-height: 33px;
    text-align: center;
    color: white;
  }

  @include phone {
    font-size: 8px;
    line-height: 15px;
  }
}

.med-text {
  font-size: 20px;

}

.tall-button-text {
  line-height: 83px;

  @include mobile {
    font-size: 11px;
    line-height: 33px;
  }

  @include phone {
    font-size: 8px;
    line-height: 15px;
  }
}

.two-across-btn {
  @include mobile {
    width: 47%;
    float: left;
  }
}

.left-btn {
  @include mobile {
    margin-right: 5px;
  }
}

.tall-mobile-text {
  @include mobile {
    line-height: 60px; 
  }
}

.footer-link {
  font-size: 12px;
}

.link {

  &:link {
    text-decoration:none;
  }
  &:hover {
    cursor:pointer;
    text-decoration:none;
    color: $lighter-grey;
    transition: .2s;
  }
}

.link-r {
  &:hover {
    color: $green;
  }
}

.link-b {
  &:hover {
    color: $orange;
  }
}

.list {
  list-style-type:none;
  margin-top: 5px;
  padding-left:0px;
}

.bottom-left {
  position: absolute;
  margin-bottom: 0px;
  bottom: 4px;
  left: 15px;
  @include phone {
    left: 3px;
  }
}

.spaced{
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-space {
  margin:0px;
  padding:0px;
}

.small-margin {
  margin-top: 5px;
}

.med-margin {
  margin-top: 10px;
  @include phone {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.lg-margin {
  margin-top: 50px;
}

.caps {
  text-transform: uppercase;
}

.thin {
  font-weight: 100;
}

.tiny-text {
  @include phone {
  font-size: 6px;
  line-height: 7px;
}
}

.white {
  color: #ffffff;
}

.extra-breakpoint {
  @media only screen and (max-width: 670px) {
    font-size: 7px;
  } 
}

.star {
  position:absolute;
  top: 5px;
  right: 5px;
  background-image: url("/assets/star.png");
  background-repeat:no-repeat;
  background-size:  20px 20px;
  border:none;
  width: 20px;
  height: 20px;
  z-index: 1;

  @include phone {
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    top: 2px;
    right: 2px;
  }
}

.star.starred {
    background-image: url("/assets/starred.png"); 
}

.full-width {
  width: 100%;
}

.half-width {
  width : 48%;
}

.pad-left {
  padding-left: 10px;
}

.padding {
  padding: 10px;
  @include mobile {
    padding: 5px;
  }
  @include phone {
    padding: 2px;
  }
}


.mobile-margin-top {
  @include phone {
    margin-top: 5px;
  }
}

.no-pad-top {
  padding-top: 0px !important;
}

.no-mobile-padding{
  @include phone {
    padding: 0px;
    padding-left: 5px;
  }
}

.float-right {
  float: right;
}

.clear-bottom {
  margin-bottom: 12px;
}

.has-borders{
  border-left: 1px solid $lighter-grey;
  border-right: 1px solid $lighter-grey;
  min-height: 120px;
  @include mobile {
    min-height: 100px;
  }
  @include phone {
    min-height: 60px;
    height: 100%;
  }
}


.margin-left {
  margin-left: 20px;

  @include mobile {
    margin-top: 30px;
    margin-left: 10px;
  }
}

.no-hover {
  &:hover {
    border:1px solid $lighter-grey !important;
    cursor: default !important;
  }
}

h1 {
  font-weight: normal;
}

/* FORMS */

input, textarea {
  border: 1px solid $lighter-grey;
  @include border-radius(2px);
}


/* STARRED PAGE */

.starred-header {
  margin-bottom: 10px;
}

/* FLASH */

.flash {
  position: absolute;
  padding: 5px;
  top: 26px;
  right: 15px;
  height: 123px;
  width: 220px;
  background-color: $lighter-grey;
  border-radius: 2px;
  z-index: 100;
  //opacity:(.7);

  @include mobile {

  }

}

.success {
  background-color: $dark-blue;
}

.error {
  background-color: $lighter-grey;
}

.msg {
  line-height: 8px;
}


/* ABOUT PAGE */

.about-wrapper{
  padding: 60px;
  padding-top: 20px;
}
