* {
  @include box-sizing(border-box);
}

/* Overarching styles */
html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0; padding: 0;
  font: 16px/22px normal $sans;
  background-image: url(/assets/crossword.png);
  background-repeat: repeat;
}

$sidebar-width: 250px;
$sidebar-height-mobile: 80px;
$sidebar-height-phone: 50px;
#content {
  width: 100%;
  padding: 20px 10px;
  padding-right: $sidebar-width;
  @include mobile {
    padding-right: 10px;
    padding-top: $sidebar-height-mobile + 20px;
  }
  @include phone {
    padding:0px;
    padding-top: $sidebar-height-phone + 15px;
  }
}

#sidebar {
  position: fixed;
  top: 0; right: 0;
  width: $sidebar-width;
  height: 100%;
  background-color: $green;
  padding: 10px;
  @include mobile {
    position: fixed;
    left: 0;
    width: 100%;
    height: $sidebar-height-mobile;
  }
  @include phone {
    height: $sidebar-height-phone;
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 0px;
}

.centered-column {
  text-align: center;
}

/* BUTTON STYLES */

.options-button {
  border: 1px $lighter-grey solid;
  background-color: white;
  text-align: center;
  cursor:pointer;
  margin-bottom: 6px;
  @include border-radius(2px);
  transition: .1s;

  @include mobile {
    height: 35px;
    background-color: $blue;
  }
}

.options-button:hover {
  background-color: $blue;
  border: 1px $blue solid;
  p, value {
    color: white;
  } 
}

.tall-button {
  @include desktop {
    height: 85px;
    line-height: 85px;
  }
}

.tall-mobile-button {
  @include mobile {
    height: 60px;
    margin-top: 30px;
    //line-height: 60px !important;
  }
}

.red-button {

  &:hover {
    background-color: $red;
    border: 1px solid $red;
  }
  @include mobile {
    background-color: $red;
    border: 1px solid $red;
  }
}

.green-button {

  &:hover {
    background-color: $green;
    border: 1px solid $green;
  }
  @include mobile {
    background-color: $green;
    border: 1px solid $green;
  }

}

.orange-button {

  &:hover {
    background-color: $orange;
    border: 1px solid $orange;
  }
  @include mobile {
    background-color: $orange;
    border: 1px solid $orange;
  }

}

/* TEXT STYLES */
.title {
  font-family: $serif;
  font-size: 45px;
  line-height: 50px;

  @include mobile {
    font-size: 24px;
    line-height: 30px;
  }

  @include phone {
    font-size: 14px;
    line-height: 14px;
  }

}

.mobile-button {
  @include phone {
    float: left;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

.title-small {
  font-family: $serif;
  font-size: 30px;

  @include tablet {
    font-size: 20px;
  }

  @include phone {
    font-size: 12px;
  }
}

.header-medium {
  font-family: $sans;
  font-size: 15px;
  font-weight: 400;

  @include tablet {
    font-size: 12px;
  }

  @include phone {
    font-size: 8px;
    line-height: 8px
  }

}



.body-text{
  font-family: $sans;
  font-size: 15px;
  line-height: 19px;

  @include tablet {
    font-size: 12px;
    line-height: 14px;
  }

  @include phone {
    font-size: 8px; 
    line-height: 10px;
  }
}

.serif {
  font-family: $serif;
}



.button-text {
  font-family: $serif;
  letter-spacing: .8px;
  font-size: 15px;
  line-height: 50px;
  color:$light-grey;
  margin:auto;

  @include mobile {
    font-size:11px;
    letter-spacing:0px;
    line-height: 11px;
    text-align: center;
    margin-top: 10px;
    color: white;
  }

  @include phone {
    margin-top: 8px;
    font-size: 8px;
    line-height: 8px;
  }
}

.tall-button-text {
  line-height: 80px;
  @include mobile {
    font-size: 11px;
    line-height: 15px;
  }
}

.tall-mobile-text {
  @include mobile {
    line-height: 30px; 
  }
}

.short-button-text {
  @include desktop { 
    line-height: 38px;
  }
}

.footer-link {
  font-size: 12px;
}

.welcome-header {
  font-family: $serif;
  font-size: 16px;
  color: white;
}

.link {

  &:link {
    text-decoration:none;
  }
  &:hover {
    cursor:pointer;
    text-decoration:none;
    color: $lighter-grey;
    transition: .2s;
  }
}

.list {
  list-style-type:none;
  margin-top: 5px;
  padding-left:0px;
}

.bottom-left {
  position: absolute;
  margin-bottom: 0px;
  bottom: 4px;
  left: 15px;
  @include phone {
    left: 5px;
  }
}

.spaced{
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-space {
  margin:0px;
  padding:0px;
}

.small-margin {
  margin-top: 5px;
}

.med-margin {
  margin-top: 10px;
}

.caps {
  text-transform: uppercase;
}

.thin {
  font-weight: 100;
}

.white {
  color: #ffffff;
}

.star {
  position:absolute;
  top: 5px;
  right: 5px;
  background-image: url("/assets/star.png");
  background-repeat:no-repeat;
  background-size:  20px 20px;
  border:none;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.star.starred {
    background-image: url("/assets/starred.png"); 
}

.full-width {
  width: 100%;
}

.half-width {
  width : 48%;
}

.pad-left {
  padding-left: 10px;
}

.padding {
  padding: 10px;
  @include mobile {
    padding: 5px;
  }
  @include phone {
    padding: 2px;
  }
}


.margin-top {
  margin-top: 15px;
  @include mobile {
    margin-top: 0px;
  }
}

.no-pad-top {
  padding-top: 0px !important;
}

.no-mobile-padding{
  @include phone {
    padding: 0px;
    padding-left: 5px;
  }
}

.float-right {
  float: right;
}

.has-borders{
  border-left: 1px solid $lighter-grey;
  border-right: 1px solid $lighter-grey;
  min-height: 120px;
  @include mobile {
    min-height: 100px;
  }
  @include phone {
    min-height: 70px;
  }
}

.margin-left {
  margin-left: 20px;

  @include mobile {
    margin-top: 30px;
  }
}

/* FORMS */

input, textarea {
  border: 1px solid $lighter-grey;
  @include border-radius(2px);
}


/* STARRED PAGE */

.starred-header {
  margin-bottom: 10px;
}
